---
import BaseLayout from '../layouts/base/BaseLayout.astro';
import { Routing } from '../routes/routing';
import { organismConfig } from '../routes/View';
---

<style>
    h2 {
        @apply mb-4 text-center text-3xl;
    }

    .description a {
        @apply underline;
    }
</style>

<BaseLayout title='GenSpectrum Dashboards' omitHeaderNavigation={true}>
    <h2>Explore up-to-date pathogen genomic data</h2>
    <div class='description mx-auto mb-8 max-w-[1400px] px-8'>
        GenSpectrum…

        <ul class='ml-6 mt-2 list-disc'>
            <li>
                …is a fully interactive platform aiming to help scientists and public health professionals query and
                analyze pathogen sequences.
            </li>
            <li>…is open source, the code is available on <a href='https://github.com/GenSpectrum'>GitHub</a>.</li>
            <li>
                …uses open data from the <a href='https://www.insdc.org/'
                    >International Nucleotide Sequence Database Collaboration (INSDC)</a
                >. You can read more about the <a href='/data'>data sources and how we preprocess the data</a>.
            </li>
            <li>
                …'s core team is at the <a href='https://bsse.ethz.ch/cevo'>Computational Evolution Group</a> at ETH Zurich
                but received valuable contributions from many more. You can find a list of contributors <a
                    href='https://github.com/GenSpectrum/cov-spectrum-website?tab=readme-ov-file#contributors-'>here</a
                >.
            </li>
            <li>
                …is supported by funding from <a href='https://ethz.ch/en.html'>ETH Zurich</a>, the <a
                    href='https://www.cdc.gov/'>U.S. Centers for Disease Control and Prevention</a
                > and the <a href='https://www.cdc.gov/advanced-molecular-detection/index.html'
                    >Office of Advanced Molecular Detection</a
                >.
            </li>
            <li>
                …'s team is very open for feedback and would love to hear from you: you can reach us on <a
                    href='https://github.com/GenSpectrum/dashboards/issues'
                >
                    GitHub</a
                >.
            </li>
        </ul>
    </div>

    <h2>Pathogens</h2>
    <div class='mx-8 mb-8 flex flex-wrap justify-center gap-x-4 gap-y-8'>
        {
            Object.values(organismConfig).map((organism) => (
                <div class='w-[260px]'>
                    <div class='rounded-b-md rounded-tr-md border-2 border-gray-100'>
                        <h3 class={`rounded-tr-md p-4 text-xl ${organism.backgroundColor}`}>{organism.label}</h3>
                        <ul class='mb-4 ml-6 mr-6 border-l-2 border-l-black'>
                            {Routing.views[organism.organism].map((view) => (
                                <li class='flex items-start pt-2'>
                                    <div class='mr-2 w-4 border-b-2 border-b-black pt-[0.8rem]' />
                                    <a
                                        href={Routing.toUrl(Routing.getDefaultRoute(view.pathname))}
                                        class={`hover:underline ${organism.hoverDecorationColor} hover:decoration-4`}
                                    >
                                        {view.labelLong}
                                    </a>
                                </li>
                            ))}
                            {organism.organism === 'covid' && (
                                <li class='flex items-start pt-4'>
                                    <div class='mr-2 w-4 border-b-2 border-b-black pt-[0.8rem]' />
                                    <a
                                        href='https://cov-spectrum.org'
                                        class='hover:underline hover:decoration-lime-200 hover:decoration-4'
                                    >
                                        CoV-Spectrum
                                    </a>
                                </li>
                            )}
                        </ul>
                    </div>
                </div>
            ))
        }
    </div>
</BaseLayout>
