---
import Link from '../components/Link.astro';
import MainMenuItem from '../components/MainMenuItem.astro';
import BaseLayout from '../layouts/base/BaseLayout.astro';
import DataInfo from '../layouts/base/footer/DataInfo.astro';
import { BrandName } from '../layouts/base/header/Brand';
import { organismConfig } from '../types/Organism';
import { dataOrigins } from '../types/dataOrigins';
import { Page } from '../types/pages';
import { ServerSide } from '../views/serverSideRouting';
---

<BaseLayout title='GenSpectrum Dashboards'>
    <div class='largerLogo my-10 flex items-center justify-center'>
        <img class='hidden md:block' src='/virus-outline-colorful.svg' alt='colorful-logo' width='200' height='200' />
        <div class='mx-10'>
            <h1 class='mb-4 text-center text-4xl font-light md:text-7xl'>
                <BrandName fontsize='font-medium' />
            </h1>
            <h2 class='text-center text-2xl font-light text-slate-600 md:text-end md:text-3xl'>
                Inspect pathogen genomic data
            </h2>
        </div>
    </div>

    <div class='mx-auto my-12 max-w-[1200px] px-8 sm:flex'>
        <div class='mx-8 basis-1/2 text-balance'>
            <div class='my-8 flex items-center'>
                <div class='iconify size-7 mdi--information-outline'></div>
                <h2 class='ml-2'>About Us</h2>
            </div>
            <span
                >An interactive platform to help scientists and public health professionals query and analyze pathogen
                sequences. The core team is at the <Link external href='https://bsse.ethz.ch/cevo'>cEvo group</Link> at ETH
                Zurich but we are grateful for our many contributors from around the globe: you can find <Link
                    external
                    href='https://github.com/GenSpectrum#contributors-'>our team here</Link
                >. We are funded by the <Link external href='https://ethz.ch/en.html'>ETH Zurich</Link>, the
                <Link external href='https://www.cdc.gov/'>US CDC</Link> and the <Link
                    external
                    href='https://www.cdc.gov/advanced-molecular-detection/index.html'
                    >Office of Advanced Molecular Detection (OAMD)</Link
                >.
            </span>
        </div>
        <div class='mx-8 basis-1/2 text-balance'>
            <div class='my-8 flex items-center'>
                <div class='iconify size-7 mdi--wrench-outline'></div>
                <h2 class='ml-2'>Open Source Tooling</h2>
            </div>
            <span
                >Code is available on <Link external href='https://github.com/GenSpectrum/dashboards'>GitHub</Link>,
                with customizable components to build your own dashboards. We use data from the <Link
                    external
                    href='https://www.insdc.org/'>International Nucleotide Sequence Database Collaboration (INSDC)</Link
                >
                and <Link external href='https://pathoplexus.org/'>Pathoplexus</Link>, read more about our data
                processing <Link href={Page.dataSources}>here</Link>.
            </span>
        </div>
    </div>

    <div class='mx-auto mb-8 mt-8 flex max-w-[1200px] items-center justify-center'>
        <div class='iconify size-7 mdi--virus-outline'></div>
        <h2 class='ml-2 text-3xl text-slate-600'>Pathogens</h2>
    </div>
    <div class='items mx-auto mb-8 flex max-w-[1200px] flex-wrap justify-center gap-x-4 gap-y-8'>
        {
            Object.values(organismConfig).map((organism) => (
                <div class='group w-[260px]'>
                    <div class={`${organism.borderEntryDecoration} rounded-md border-2 border-gray-100`}>
                        <h3
                            class={`rounded-t-md p-4 text-xl ${organism.backgroundColor} ${organism.backgroundColorFocus}`}
                        >
                            {organism.label}
                        </h3>
                        <ul class='mx-6 mb-4'>
                            {Object.values(ServerSide.routing.views[organism.organism]).map((view) => (
                                <MainMenuItem
                                    iconType={view.viewConstants.iconType}
                                    menuListEntryDecoration={organism.menuListEntryDecoration}
                                    href={view.pageStateHandler.getDefaultPageUrl()}
                                >
                                    {view.viewConstants.labelLong}
                                </MainMenuItem>
                            ))}
                            {ServerSide.routing.externalPages[organism.organism].map((externalPage) => (
                                <MainMenuItem
                                    iconType={externalPage.menuIcon}
                                    menuListEntryDecoration={organism.menuListEntryDecoration}
                                    href={externalPage.url}
                                    external
                                >
                                    {externalPage.label}
                                </MainMenuItem>
                            ))}
                        </ul>
                    </div>
                </div>
            ))
        }
    </div>
    <div class='mx-auto my-12 max-w-[800px] px-8'>
        <div class='my-8 flex items-center'>
            <div class='iconify size-7 mdi--format-quote-close-outline'></div>
            <h2 class='ml-2'>How to cite</h2>
        </div>
        <div>
            If this dashboard has been useful for you, we would be grateful if you cite the following paper:
            <div class='mb-6 mt-4 rounded-xl bg-gray-50 p-4'>
                Chen, C., Nadeau, S., Yared, M., Voinov, P., Ning, X., Roemer, C. &amp; Stadler, T. "CoV-Spectrum:
                Analysis of globally shared SARS-CoV-2 data to Identify and Characterize New Variants" Bioinformatics
                (2021); doi: <Link href='https://doi.org/10.1093/bioinformatics/btab856'
                    >10.1093/bioinformatics/btab856</Link
                >.
            </div>
            If you queried data through our LAPIS API, please consider citing:
            <div class='mb-6 mt-4 rounded-xl bg-gray-50 p-4'>
                Chen, C., Taepper, A., Engelniederhammer, F., Kellerer, J., Roemer, C. &amp; Stadler, T. "LAPIS is a
                fast web API for massive open virus sequencing data" Bioinformatics (2021); doi: <Link
                    href='https://doi.org/10.1186/s12859-023-05364-3'>10.1186/s12859-023-05364-3</Link
                >.
            </div>
        </div>
    </div>
    <div class='mx-auto my-12 max-w-[800px] text-balance px-8'>
        <div class='my-8 flex items-center'>
            <div class='iconify size-7 mdi--chat-outline'></div>
            <h2 class='ml-2'>Contact</h2>
        </div>
        <div>
            Feedback, suggestions, bug reports and active contributions are highly welcome, please create an issue in
            our <Link external href='https://github.com/GenSpectrum/dashboards'>Github repository</Link>. For general
            questions, please contact Chaoran Chen (chaoran.chen@bsse.ethz.ch). For media requests, please reach out to
            ETH Zurich Media Relations (mediarelations@hk.ethz.ch). A list of all team members can be found <Link
                external
                href='https://github.com/GenSpectrum'>here</Link
            >.
        </div>
    </div>

    <DataInfo slot='secondary-footer' dataOrigins={[dataOrigins.insdc, dataOrigins.pathoplexus]} />
</BaseLayout>
