---
import ComponentWrapper from '../../components/ComponentWrapper.astro';
import ComponentsGrid from '../../components/ComponentsGrid.astro';
import LocationTimeFilter from '../../components/LocationTimeFilter.astro';
import { getLapisUrl } from '../../config';
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import { defaultTablePageSize } from '../../routes/View';
import { chooseGranularityBasedOnDateRange, getLocationSubdivision } from '../../routes/helpers';
import { ServerSide } from '../../routes/serverSideRouting';
import { Organisms } from '../../types/Organism';

const routeData = ServerSide.westNileSequencingEffortsView.parseUrl(Astro.url);

const baselineFilter = ServerSide.westNileSequencingEffortsView.toLapisFilter(routeData);

const timeGranularity = chooseGranularityBasedOnDateRange({
    from: baselineFilter[`${ServerSide.westNileSequencingEffortsView.mainDateField}From`] as string,
    to: baselineFilter[`${ServerSide.westNileSequencingEffortsView.mainDateField}To`] as string,
});
const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    ServerSide.westNileAnalyzeSingleVariantView.locationFields,
    routeData.baselineFilter.location,
);
---

<BaseLayout title='Sequencing Efforts | WNV | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.westNile)}>
        <div class='mb-4 flex items-center justify-center bg-blue-50 px-2 py-1'>
            <div class='mr-2 font-semibold'>Filter dataset:</div>
            <div class='max-w-[1000px]'>
                <LocationTimeFilter
                    fields={ServerSide.westNileSequencingEffortsView.locationFields}
                    initialLocation={baselineFilter}
                    initialDateRange={routeData.baselineFilter.dateRange}
                    earliestDate={ServerSide.westNileSequencingEffortsView.earliestDate}
                    customDateRangeOptions={ServerSide.westNileSequencingEffortsView.customDateRangeOptions}
                />
            </div>
        </div>

        <ComponentsGrid>
            <ComponentWrapper title='Number sequences' height='600px'>
                <gs-number-sequences-over-time
                    lapisFilter={JSON.stringify({
                        displayName: '',
                        lapisFilter: baselineFilter,
                    })}
                    lapisDateField={ServerSide.westNileSequencingEffortsView.mainDateField}
                    views='["bar", "line", "table"]'
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'
                    granularity={timeGranularity}></gs-number-sequences-over-time>
            </ComponentWrapper>
            {
                subdivisionField !== undefined && (
                    <ComponentWrapper title={subdivisionLabel} height='600px'>
                        <gs-aggregate
                            fields={JSON.stringify([subdivisionField])}
                            filter={JSON.stringify(baselineFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>
                )
            }
            <ComponentWrapper title='Hosts' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([ServerSide.westNileAnalyzeSingleVariantView.lineageField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
            <ComponentWrapper title='Author affiliations' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([ServerSide.westNileAnalyzeSingleVariantView.authorAffiliationsField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
            <ComponentWrapper title='Authors' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([
                        ServerSide.westNileAnalyzeSingleVariantView.authorsField,
                        ServerSide.westNileAnalyzeSingleVariantView.authorAffiliationsField,
                    ])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
        </ComponentsGrid>
    </gs-app>
</BaseLayout>
