---
import { chooseGranularityBasedOnDateRange, getLapisMutations, getLocationSubdivision } from '../../routes/helpers';
import { RsvAAnalyzeSingleVariantView } from '../../routes/rsvA';
import { RsvBAnalyzeSingleVariantView } from '../../routes/rsvB';
import { getLapisUrl } from '../../config';
import { defaultTablePageSize } from '../../routes/View';
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import LocationTimeFilter from '../../components/LocationTimeFilter.astro';
import VariantFilter from '../../components/VariantFilter.astro';
import ComponentsGrid from '../../components/ComponentsGrid.astro';
import ComponentWrapper from '../../components/ComponentWrapper.astro';
import { organismConfig } from '../../types/Organism';

interface Props {
    view: RsvAAnalyzeSingleVariantView | RsvBAnalyzeSingleVariantView;
}

const { view } = Astro.props;

const routeData = view.parseUrl(Astro.url);

const variantFilter = view.toLapisFilter(routeData);
const baselineFilter = view.toLapisFilterWithoutVariant(routeData);
const timeGranularity = chooseGranularityBasedOnDateRange({
    from: baselineFilter[`${view.mainDateField}From`] as string,
    to: baselineFilter[`${view.mainDateField}To`] as string,
});

const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    view.locationFields,
    routeData.baselineFilter.location,
);

const initialMutations = getLapisMutations(variantFilter);
---

<BaseLayout title={`Single Variant | ${organismConfig[view.organism].label} | GenSpectrum`}>
    <gs-app lapis={getLapisUrl(view.organism)}>
        <div class='grid-cols-[300px_1fr] gap-x-4 sm:grid'>
            <div>
                <div class='bg-blue-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Filter dataset:</div>
                    <LocationTimeFilter
                        fields={view.locationFields}
                        initialLocation={baselineFilter}
                        initialDateRange={routeData.baselineFilter.dateRange}
                        earliestDate={view.earliestDate}
                        customDateRangeOptions={view.customDateRangeOptions}
                    />
                </div>
                <div class='border-t-2 bg-green-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Search variant:</div>
                    <VariantFilter
                        fields={[
                            {
                                name: view.lineageField,
                                label: 'Lineage',
                                initialValue: variantFilter.lineage,
                                type: 'text',
                                rename: 'lineage',
                            },
                        ]}
                        initialMutations={initialMutations}
                    />
                </div>
            </div>
            <div>
                <ComponentsGrid>
                    <ComponentWrapper title='Prevalence over time'>
                        <gs-prevalence-over-time
                            numeratorFilter={JSON.stringify({
                                displayName: '',
                                lapisFilter: variantFilter,
                            })}
                            denominatorFilter={JSON.stringify(baselineFilter)}
                            lapisDateField={view.mainDateField}
                            granularity={timeGranularity}
                            smoothingWindow='0'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-prevalence-over-time>
                    </ComponentWrapper>
                    <ComponentWrapper title='Nucleotide mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='nucleotide'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>
                    <ComponentWrapper title='Amino acid mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='amino acid'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>
                    {
                        subdivisionField && (
                            <ComponentWrapper title={subdivisionLabel}>
                                <gs-aggregate
                                    fields={JSON.stringify([subdivisionField])}
                                    filter={JSON.stringify(variantFilter)}
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                        )
                    }
                    <ComponentWrapper title='Clades and lineages'>
                        <gs-aggregate
                            fields={JSON.stringify([view.lineageField])}
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-aggregate>
                    </ComponentWrapper>
                    <ComponentWrapper title='Hosts'>
                        <gs-aggregate
                            fields={JSON.stringify([view.hostField])}
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-aggregate>
                    </ComponentWrapper>
                </ComponentsGrid>

                <ComponentWrapper title='Nucleotide mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='nucleotide'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={view.mainDateField}></gs-mutations-over-time>
                </ComponentWrapper>

                <ComponentWrapper title='Amino acid mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='amino acid'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={view.mainDateField}></gs-mutations-over-time>
                </ComponentWrapper>
            </div>
        </div>
    </gs-app>
</BaseLayout>
