---
import { chooseGranularityBasedOnDateRange, getLocationSubdivision } from '../../routes/helpers';
import { RsvASequencingEffortsView } from '../../routes/rsvA';
import { RsvBSequencingEffortsView } from '../../routes/rsvB';
import { defaultTablePageSize } from '../../routes/View';
import { getLapisUrl } from '../../config';
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import LocationTimeFilter from '../../components/LocationTimeFilter.astro';
import ComponentsGrid from '../../components/ComponentsGrid.astro';
import ComponentWrapper from '../../components/ComponentWrapper.astro';
import { organismConfig } from '../../types/Organism';

interface Props {
    view: RsvASequencingEffortsView | RsvBSequencingEffortsView;
}

const { view } = Astro.props;

const routeData = view.parseUrl(Astro.url);

const baselineFilter = view.toLapisFilter(routeData);

const timeGranularity = chooseGranularityBasedOnDateRange({
    from: baselineFilter[`${view.mainDateField}From`] as string,
    to: baselineFilter[`${view.mainDateField}To`] as string,
});
const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    view.locationFields,
    routeData.baselineFilter.location,
);
---

<BaseLayout title={`Sequencing Efforts | ${organismConfig[view.organism].label} | GenSpectrum`}>
    <gs-app lapis={getLapisUrl(view.organism)}>
        <div class='mb-4 flex items-center justify-center bg-blue-50 px-2 py-1'>
            <div class='mr-2 font-semibold'>Filter dataset:</div>
            <div class='max-w-[1000px]'>
                <LocationTimeFilter
                    fields={view.locationFields}
                    initialLocation={baselineFilter}
                    initialDateRange={routeData.baselineFilter.dateRange}
                    earliestDate={view.earliestDate}
                    customDateRangeOptions={view.customDateRangeOptions}
                />
            </div>
        </div>

        <ComponentsGrid>
            <ComponentWrapper title='Number sequences' height='600px'>
                <gs-number-sequences-over-time
                    lapisFilter={JSON.stringify({
                        displayName: '',
                        lapisFilter: baselineFilter,
                    })}
                    lapisDateField={view.mainDateField}
                    views='["bar", "line", "table"]'
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'
                    granularity={timeGranularity}></gs-number-sequences-over-time>
            </ComponentWrapper>
            {
                subdivisionField && (
                    <ComponentWrapper title={subdivisionLabel} height='600px'>
                        <gs-aggregate
                            fields={JSON.stringify([subdivisionField])}
                            filter={JSON.stringify(baselineFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>
                )
            }
            <ComponentWrapper title='Hosts' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([view.hostField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
            <ComponentWrapper title='Author affiliations' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([view.authorAffiliationsField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
            <ComponentWrapper title='Authors' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([view.authorsField, view.authorAffiliationsField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
        </ComponentsGrid>
    </gs-app>
</BaseLayout>
