---
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import LocationTimeFilter from '../../components/LocationTimeFilter.astro';
import { MpoxView3 } from '../../routes/mpoxView3';

const routeData = MpoxView3.parseUrl(Astro.url);

const baselineFilter = MpoxView3.toLapisFilter(routeData);

let subDivisionField = undefined;
let subDivisionLabel = '';
if (routeData.baselineFilter.location.geo_loc_country === undefined) {
    subDivisionField = 'geo_loc_country';
    subDivisionLabel = 'Countries';
} else if (routeData.baselineFilter.location.geo_loc_admin_1 === undefined) {
    subDivisionField = 'geo_loc_admin_1';
    subDivisionLabel = 'Geographic sub-divisions';
}

const locationFields = ['geo_loc_country', 'geo_loc_admin_1'];
const today = new Date().toISOString().substring(0, 10);
const customDateRangeOptions = [
    { label: '2024', dateFrom: '2024-01-01', dateTo: today },
    { label: '2023', dateFrom: '2023-01-01', dateTo: '2023-12-31' },
    { label: '2022', dateFrom: '2022-01-01', dateTo: '2022-12-31' },
    { label: '2021', dateFrom: '2021-01-01', dateTo: '2021-12-31' },
    { label: 'Since 2021', dateFrom: '2021-01-01', dateTo: today },
    { label: 'Before 2021', dateFrom: MpoxView3.earliestDate, dateTo: '2020-12-31' },
    { label: 'Since 2017', dateFrom: '2017-01-01', dateTo: today },
    { label: '2017-2020', dateFrom: '2017-01-01', dateTo: '2020-12-31' },
    { label: 'Before 2017', dateFrom: MpoxView3.earliestDate, dateTo: '2016-12-31' },
];
---

<style>
    .component-title {
        @apply font-bold;
    }
</style>

<BaseLayout title='Single Variant | RSV-A | GenSpectrum'>
    <gs-app lapis='https://lapis-full-mpox.loculus.org/mpox'>
        <div class='mb-4 flex items-center justify-center bg-blue-50 px-2 py-1'>
            <div class='mr-2 font-semibold'>Filter dataset:</div>
            <div class='max-w-[1000px]'>
                <LocationTimeFilter
                    fields={locationFields}
                    initialLocation={baselineFilter}
                    initialDateRange={routeData.baselineFilter.dateRange}
                    earliestDate={MpoxView3.earliestDate}
                    customDateRangeOptions={customDateRangeOptions}
                />
            </div>
        </div>

        <div class='grid grid-cols-[repeat(auto-fit,minmax(min(100vw,650px),1fr))] gap-x-4 gap-y-6 p-2'>
            {
                subDivisionField && (
                    <div>
                        <h2 class='component-title'>{subDivisionLabel}</h2>
                        <div class='h-[600px]'>
                            <gs-aggregate
                                fields={JSON.stringify([subDivisionField])}
                                filter={JSON.stringify(baselineFilter)}
                                headline=''
                                width='100%'
                                height='100%'
                            />
                        </div>
                    </div>
                )
            }
            <div>
                <h2 class='component-title'>Hosts</h2>
                <div class='h-[600px]'>
                    <gs-aggregate
                        fields='["host_name_scientific"]'
                        filter={JSON.stringify(baselineFilter)}
                        headline=''
                        width='100%'
                        height='100%'></gs-aggregate>
                </div>
            </div>
            <div>
                <h2 class='component-title'>Author affiliations</h2>
                <div class='h-[600px]'>
                    <gs-aggregate
                        fields='["author_affiliations"]'
                        filter={JSON.stringify(baselineFilter)}
                        headline=''
                        width='100%'
                        height='100%'></gs-aggregate>
                </div>
            </div>
        </div>
    </gs-app>
</BaseLayout>
