---
import { BackendError, BackendService } from '../../../../backendApi/backendService.ts';
import NotLoggedIn from '../../../../components/auth/NotLoggedIn.astro';
import { CollectionEdit } from '../../../../components/collections/edit/CollectionEdit';
import { getDashboardsConfig, getBackendHost } from '../../../../config';
import { defaultBreadcrumbs } from '../../../../layouts/Breadcrumbs';
import ContaineredPageLayout from '../../../../layouts/ContaineredPage/ContaineredPageLayout.astro';
import { getInstanceLogger } from '../../../../logger.ts';
import { PageContainer } from '../../../../styles/containers/PageContainer';
import { PageHeadline } from '../../../../styles/containers/PageHeadline';
import { organismConfig, organismFromPathFragment } from '../../../../types/Organism';
import { Page } from '../../../../types/pages';
import { getErrorLogMessage } from '../../../../util/getErrorLogMessage.ts';

const logger = getInstanceLogger('CollectionEditPage');

const { pathFragment, id } = Astro.params;

const organism = organismFromPathFragment(pathFragment);
if (organism === undefined) {
    return Astro.redirect('/404');
}

if (id === undefined) {
    return Astro.redirect('/404');
}

const orgConfig = organismConfig[organism];
const currentUserId = Astro.locals.gsUserId;
const config = getDashboardsConfig();

let collection;
let isNotOwner = false;
if (currentUserId !== undefined) {
    try {
        collection = await new BackendService(getBackendHost()).getCollection({ id });
        if (currentUserId !== collection.ownedBy) {
            isNotOwner = true;
            Astro.response.status = 403;
        }
    } catch (error) {
        if (error instanceof BackendError && error.status === 404) {
            return Astro.redirect('/404');
        }
        logger.error(`Failed to fetch collection ${id}: ${getErrorLogMessage(error)}`);
        return new Response(null, { status: 500 });
    }
}

const collectionTitle = collection !== undefined ? `#${id} ${collection.name}` : `Collection #${id}`;
---

<ContaineredPageLayout
    title='Edit collection'
    breadcrumbs={[
        ...defaultBreadcrumbs,
        { name: 'Collections', href: Page.collectionsOverview },
        { name: orgConfig.label, href: Page.collectionsForOrganism(organism) },
        { name: collectionTitle, href: Page.viewCollection(organism, id) },
        { name: 'Edit', href: Page.editCollection(organism, id) },
    ]}
>
    {
        currentUserId === undefined ? (
            <NotLoggedIn />
        ) : isNotOwner ? (
            <PageContainer>
                <PageHeadline>Not authorized</PageHeadline>
                <div>You do not have permission to edit this collection.</div>
            </PageContainer>
        ) : (
            <CollectionEdit
                client:only='react'
                organism={organism}
                id={id}
                config={config}
                collection={
                    // eslint-disable-next-line @typescript-eslint/no-non-null-assertion -- collection is always defined here: fetched successfully or we returned 404/500 above
                    collection!
                }
            />
        )
    }
</ContaineredPageLayout>
