---
import type { LapisFilter, SequenceType } from '@genspectrum/dashboard-components/util';

import ComponentWrapper from '../ComponentWrapper.astro';

interface Props {
    title: string;
    lapisFilter: LapisFilter;
    sequenceType: SequenceType;
    collapsible?: boolean;
    linkSuffix?: string;
}

const { title, lapisFilter, sequenceType, collapsible = false, linkSuffix } = Astro.props;
---

<ComponentWrapper title={title} collapsible={collapsible} linkSuffix={linkSuffix}>
    <gs-wastewater-mutations-over-time
        lapisFilter={JSON.stringify(lapisFilter)}
        sequenceType={sequenceType}
        width='100%'
        height='100%'
        maxNumberOfGridRows='700'
    >
        <span slot='infoText'><slot name='infoText' /></span>
    </gs-wastewater-mutations-over-time>
</ComponentWrapper>
