---
import InfluenzaWastewaterInfo from '../../components/InfluenzaWastewaterInfo.astro';
import GsWastewaterMutationsOverTime from '../../components/genspectrum/GsWastewaterMutationsOverTime.astro';
import { defaultBreadcrumbs } from '../../layouts/Breadcrumbs';
import DataPageLayout from '../../layouts/OrganismPage/DataPageLayout.astro';
import { dataOrigins } from '../../types/dataOrigins';
import {
    getMutationAnnotation,
    InfluenzaTypes,
    wastewaterConfig,
    wastewaterPathFragment,
} from '../../types/wastewaterConfig';

const lapisUrl = `${wastewaterConfig.lapisBaseUrl}/influenza`;
---

<DataPageLayout
    title='Swiss wastewater - Influenza'
    breadcrumbs={[
        ...defaultBreadcrumbs,
        { name: 'Swiss Wastewater', href: `/${wastewaterPathFragment}` },
        {
            name: 'Influenza',
            href: wastewaterConfig.pages.influenza,
        },
    ]}
    dataOrigins={[dataOrigins.wise]}
    lapisUrl={lapisUrl}
>
    {
        InfluenzaTypes.map((reference) => {
            const mutationAnnotations = getMutationAnnotation(reference);
            return (
                <gs-app lapis={lapisUrl} mutationAnnotations={JSON.stringify(mutationAnnotations)}>
                    <div class='m-4 flex flex-col gap-4'>
                        <>
                            <h2 class='text-2xl'>{reference}</h2>
                            <details>
                                <summary class='cursor-pointer font-bold'> Nucleotide Mutations </summary>
                                <p>
                                    <GsWastewaterMutationsOverTime
                                        title=''
                                        lapisFilter={{
                                            reference,
                                            versionStatus: 'LATEST_VERSION',
                                            isRevocation: false,
                                        }}
                                        sequenceType='nucleotide'
                                    >
                                        <InfluenzaWastewaterInfo
                                            slot='infoText'
                                            reference={reference}
                                            sequenceType='nucleotide'
                                        />
                                    </GsWastewaterMutationsOverTime>
                                </p>
                            </details>
                            <GsWastewaterMutationsOverTime
                                title='amino acid mutations'
                                lapisFilter={{
                                    reference,
                                    versionStatus: 'LATEST_VERSION',
                                    isRevocation: false,
                                }}
                                sequenceType='amino acid'
                            >
                                <InfluenzaWastewaterInfo
                                    slot='infoText'
                                    reference={reference}
                                    sequenceType='amino acid'
                                />
                            </GsWastewaterMutationsOverTime>
                        </>
                    </div>
                </gs-app>
            );
        })
    }
</DataPageLayout>
