---
import type { SequenceType } from '@genspectrum/dashboard-components/util';

import RsvWastewaterInfo from '../../components/RsvWastewaterInfo.astro';
import GsWastewaterMutationsOverTime from '../../components/genspectrum/GsWastewaterMutationsOverTime.astro';
import { defaultBreadcrumbs } from '../../layouts/Breadcrumbs';
import DataPageLayout from '../../layouts/OrganismPage/DataPageLayout.astro';
import { dataOrigins } from '../../types/dataOrigins';
import { wastewaterConfig, RSVTypes, wastewaterBreadcrumb } from '../../types/wastewaterConfig';

const lapisUrl = `${wastewaterConfig.lapisBaseUrl}/rsv`;
---

<DataPageLayout
    title='Swiss wastewater - RSV'
    breadcrumbs={[
        ...defaultBreadcrumbs,
        wastewaterBreadcrumb,
        {
            name: 'RSV',
            href: wastewaterConfig.pages.rsv.path,
        },
    ]}
    dataOrigins={[dataOrigins.wise]}
    lapisUrl={lapisUrl}
>
    <gs-app lapis={lapisUrl}>
        <div class='m-4 flex flex-col gap-4'>
            {
                RSVTypes.map((reference) => (
                    <>
                        <h2 class='text-2xl'>{reference}</h2>
                        {(['nucleotide', 'amino acid'] satisfies SequenceType[]).map((sequenceType) => (
                            <GsWastewaterMutationsOverTime
                                title={`${sequenceType} mutations`}
                                lapisFilter={{
                                    reference,
                                    versionStatus: 'LATEST_VERSION',
                                    isRevocation: false,
                                }}
                                sequenceType={sequenceType}
                            >
                                <RsvWastewaterInfo slot='infoText' reference={reference} sequenceType={sequenceType} />
                            </GsWastewaterMutationsOverTime>
                        ))}
                    </>
                ))
            }
        </div>
    </gs-app>
</DataPageLayout>
