---
import type { SequenceType } from '@genspectrum/dashboard-components/util';

import RsvWastewaterInfo from '../../components/RsvWastewaterInfo.astro';
import GsWastewaterMutationsOverTime from '../../components/genspectrum/GsWastewaterMutationsOverTime.astro';
import { defaultBreadcrumbs } from '../../layouts/Breadcrumbs';
import DataPageLayout from '../../layouts/OrganismPage/DataPageLayout.astro';
import { dataOrigins } from '../../types/dataOrigins';
import { wastewaterConfig, RSVTypes, wastewaterPathFragment } from '../../types/wastewaterConfig';

const lapisUrl = `${wastewaterConfig.lapisBaseUrl}/rsv`;
---

<DataPageLayout
    title='Swiss wastewater - RSV'
    breadcrumbs={[
        ...defaultBreadcrumbs,
        { name: 'Swiss Wastewater', href: `/${wastewaterPathFragment}` },
        {
            name: 'RSV',
            href: wastewaterConfig.pages.rsv,
        },
    ]}
    dataOrigins={[dataOrigins.wise]}
    lapisUrl={lapisUrl}
>
    <gs-app lapis={lapisUrl}>
        <div class='m-4 flex flex-col gap-4'>
            {
                RSVTypes.map((reference) => (
                    <>
                        <div class='m-4 flex flex-col gap-4'>
                            <h2 class='text-2xl'>{reference}</h2>
                            {(['nucleotide', 'amino acid'] satisfies SequenceType[]).map((sequenceType) => (
                                <GsWastewaterMutationsOverTime
                                    title={`${sequenceType} mutations`}
                                    lapisFilter={{
                                        reference,
                                        versionStatus: 'LATEST_VERSION',
                                        isRevocation: false,
                                    }}
                                    sequenceType={sequenceType}
                                    collapsible={sequenceType === 'nucleotide'}
                                    linkSuffix={reference}
                                >
                                    <RsvWastewaterInfo
                                        slot='infoText'
                                        reference={reference}
                                        sequenceType={sequenceType}
                                    />
                                </GsWastewaterMutationsOverTime>
                            ))}
                        </div>
                    </>
                ))
            }
        </div>
    </gs-app>
</DataPageLayout>
