---
import { chooseGranularityBasedOnDateRange, getLocationSubdivision } from '../../routes/helpers';
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import LocationTimeFilter from '../../components/LocationTimeFilter.astro';
import { MpoxAnalyzeSingleVariantView, MpoxSequencingEffortsView } from '../../routes/mpox';
import { getLapisUrl } from '../../config';
import { defaultTablePageSize, Organisms } from '../../routes/View';
import ComponentsGrid from '../../components/ComponentsGrid.astro';
import ComponentWrapper from '../../components/ComponentWrapper.astro';
import { ServerSide } from '../../routes/serverSideRouting';

const routeData = ServerSide.mpoxSequencingEffortsView.parseUrl(Astro.url);

const baselineFilter = ServerSide.mpoxSequencingEffortsView.toLapisFilter(routeData);

const timeGranularity = chooseGranularityBasedOnDateRange({
    from: baselineFilter[`${ServerSide.mpoxSequencingEffortsView.mainDateField}From`] as string,
    to: baselineFilter[`${ServerSide.mpoxSequencingEffortsView.mainDateField}To`] as string,
});

const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    ServerSide.mpoxAnalyzeSingleVariantView.locationFields,
    routeData.baselineFilter.location,
);
---

<BaseLayout title='Sequencing Efforts | Mpox | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.mpox)}>
        <div class='mb-4 flex items-center justify-center bg-blue-50 px-2 py-1'>
            <div class='mr-2 font-semibold'>Filter dataset:</div>
            <div class='max-w-[1000px]'>
                <LocationTimeFilter
                    fields={ServerSide.mpoxSequencingEffortsView.locationFields}
                    initialLocation={baselineFilter}
                    initialDateRange={routeData.baselineFilter.dateRange}
                    earliestDate={ServerSide.mpoxSequencingEffortsView.earliestDate}
                    customDateRangeOptions={ServerSide.mpoxSequencingEffortsView.customDateRangeOptions}
                />
            </div>
        </div>

        <ComponentsGrid>
            <ComponentWrapper title='Number sequences' height='600px'>
                <gs-number-sequences-over-time
                    lapisFilter={JSON.stringify({
                        displayName: '',
                        lapisFilter: baselineFilter,
                    })}
                    lapisDateField={ServerSide.mpoxSequencingEffortsView.mainDateField}
                    views='["bar", "line", "table"]'
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'
                    granularity={timeGranularity}></gs-number-sequences-over-time>
            </ComponentWrapper>
            {
                subdivisionField && (
                    <ComponentWrapper title={subdivisionLabel} height='600px'>
                        <gs-aggregate
                            fields={JSON.stringify([subdivisionField])}
                            filter={JSON.stringify(baselineFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>
                )
            }
            <ComponentWrapper title='Hosts' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([ServerSide.mpoxAnalyzeSingleVariantView.hostField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
            <ComponentWrapper title='Author affiliations' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([ServerSide.mpoxAnalyzeSingleVariantView.authorAffiliationsField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
            <ComponentWrapper title='Authors' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([
                        ServerSide.mpoxAnalyzeSingleVariantView.authorsField,
                        ServerSide.mpoxAnalyzeSingleVariantView.authorAffiliationsField,
                    ])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentWrapper>
        </ComponentsGrid>
    </gs-app>
</BaseLayout>
