---
import { chooseGranularityBasedOnDateRange } from '../../routes/helpers';
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import LocationTimeFilter from '../../components/LocationTimeFilter.astro';
import { MpoxView1, MpoxView3 } from '../../routes/mpox';
import { getLapisUrl } from '../../config';
import { defaultTablePageSize, Organisms } from '../../routes/View';

const routeData = MpoxView3.view.parseUrl(Astro.url);

const baselineFilter = MpoxView3.view.toLapisFilter(routeData);

const timeGranularity = chooseGranularityBasedOnDateRange({
    from: baselineFilter.sample_collection_dateFrom,
    to: baselineFilter.sample_collection_dateTo,
});
let subDivisionField = undefined;
let subDivisionLabel = '';
if (routeData.baselineFilter.location.geo_loc_country === undefined) {
    subDivisionField = 'geo_loc_country';
    subDivisionLabel = 'Countries';
} else if (routeData.baselineFilter.location.geo_loc_admin_1 === undefined) {
    subDivisionField = 'geo_loc_admin_1';
    subDivisionLabel = 'Geographic sub-divisions';
}
---

<style>
    .component-title {
        @apply font-bold;
    }
</style>

<BaseLayout title='Sequencing Efforts | Mpox | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.mpox)}>
        <div class='mb-4 flex items-center justify-center bg-blue-50 px-2 py-1'>
            <div class='mr-2 font-semibold'>Filter dataset:</div>
            <div class='max-w-[1000px]'>
                <LocationTimeFilter
                    fields={MpoxView1.view.locationFields}
                    initialLocation={baselineFilter}
                    initialDateRange={routeData.baselineFilter.dateRange}
                    earliestDate={MpoxView3.view.earliestDate}
                    customDateRangeOptions={MpoxView1.view.customDateRangeOptions}
                />
            </div>
        </div>

        <div class='grid grid-cols-[repeat(auto-fit,minmax(min(100vw,650px),1fr))] gap-x-4 gap-y-6 p-2'>
            <div>
                <h2 class='component-title'>Number sequences</h2>
                <div class='h-[600px]'>
                    <gs-number-sequences-over-time
                        lapisFilter={JSON.stringify({
                            displayName: '',
                            lapisFilter: baselineFilter,
                        })}
                        lapisDateField='sample_collection_date'
                        views='["bar", "line", "table"]'
                        pageSize={defaultTablePageSize}
                        width='100%'
                        height='100%'
                        granularity={timeGranularity}></gs-number-sequences-over-time>
                </div>
            </div>
            {
                subDivisionField && (
                    <div>
                        <h2 class='component-title'>{subDivisionLabel}</h2>
                        <div class='h-[600px]'>
                            <gs-aggregate
                                fields={JSON.stringify([subDivisionField])}
                                filter={JSON.stringify(baselineFilter)}
                                pageSize={defaultTablePageSize}
                                width='100%'
                                height='100%'
                            />
                        </div>
                    </div>
                )
            }
            <div>
                <h2 class='component-title'>Hosts</h2>
                <div class='h-[600px]'>
                    <gs-aggregate
                        fields='["host_name_scientific"]'
                        filter={JSON.stringify(baselineFilter)}
                        pageSize={defaultTablePageSize}
                        width='100%'
                        height='100%'></gs-aggregate>
                </div>
            </div>
            <div>
                <h2 class='component-title'>Author affiliations</h2>
                <div class='h-[600px]'>
                    <gs-aggregate
                        fields='["author_affiliations"]'
                        filter={JSON.stringify(baselineFilter)}
                        pageSize={defaultTablePageSize}
                        width='100%'
                        height='100%'></gs-aggregate>
                </div>
            </div>
            <div>
                <h2 class='component-title'>Authors</h2>
                <div class='h-[600px]'>
                    <gs-aggregate
                        fields='["authors", "author_affiliations"]'
                        filter={JSON.stringify(baselineFilter)}
                        pageSize={defaultTablePageSize}
                        width='100%'
                        height='100%'></gs-aggregate>
                </div>
            </div>
        </div>
    </gs-app>
</BaseLayout>
