---
import { defaultBreadcrumbs } from '../../../layouts/Breadcrumbs';
import ContaineredPageLayout from '../../../layouts/ContaineredPage/ContaineredPageLayout.astro';
import { getGenomeDataSections, type GenomeData } from '../../../layouts/base/header/getGenomeData';
import { getPathogenMegaMenuSections } from '../../../layouts/base/header/getPathogenMegaMenuSections';
import { PageHeadline } from '../../../styles/containers/PageHeadline';
import { paths } from '../../../types/Organism';
import ComponentWrapper from '../../ComponentWrapper.astro';
import { iconMapping } from '../../iconCss';

type Props = {
    organism: keyof ReturnType<typeof getPathogenMegaMenuSections>;
    lengthScaleFactor?: number;
};

const { organism, lengthScaleFactor } = Astro.props;

const section = getPathogenMegaMenuSections()[organism];
const lengthFactor = lengthScaleFactor ?? 1;

const breadcrumbs = [...defaultBreadcrumbs, ...paths[organism].breadcrumbs];
const genome: GenomeData[] = getGenomeDataSections()[organism];
const maxLength = Math.max(...genome.map((gene) => gene.genomeLength));
---

<ContaineredPageLayout title={section.headline} breadcrumbs={breadcrumbs}>
    <PageHeadline>{section.headline}</PageHeadline>
    <ComponentWrapper title='Genome Data Viewer'>
        <div class='flex flex-wrap gap-4'>
            {
                genome.map((gene) => (
                    <div
                        class='flex flex-col'
                        style={{
                            width: (gene.genomeLength / maxLength / lengthFactor) * 100 + '%',
                            height: '100%',
                        }}
                    >
                        <h2 class='mt-3 text-justify text-base'>{gene.name}</h2>
                        <gs-genome-data-viewer
                            gff3Source={gene.url}
                            genomeLength={gene.genomeLength}
                            width='100%'
                            height='100%'
                        >
                            <span slot='infoText'>
                                <slot name='infoText' />
                            </span>
                        </gs-genome-data-viewer>
                    </div>
                ))
            }
        </div>
    </ComponentWrapper>

    <slot name='pre-navigation' />
    <div class='group flex flex-wrap justify-center gap-2'>
        {
            section.navigationEntries.map((entry) => {
                return (
                    <div class={`card card-border w-96 shadow ${section.borderEntryDecoration}`}>
                        <a href={entry.href} class='card-body h-full'>
                            <div class='card-title'>
                                <h2 class={`iconify ${iconMapping[entry.iconType]}`} />
                                <div>{entry.label}</div>
                            </div>
                            <p>{entry.description}</p>
                            <div class='card-actions justify-end'>
                                <span class={`btn btn-soft ${section.headlineBackgroundColor}`}>
                                    Go to {entry.label}
                                </span>
                            </div>
                        </a>
                    </div>
                );
            })
        }
    </div>
    <slot name='post-navigation' />
</ContaineredPageLayout>
