---
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import { CovidView2 } from '../../routes/covidView2';
import { CollectionsList } from '../../components/covidView1/CollectionsList';
import JointFilter from '../../components/covidView2/JointFilter.astro';

const routeData = CovidView2.parseUrl(Astro.url);
---

<style>
    .component-title {
        @apply mt-4 font-bold;
    }
</style>

<BaseLayout title='Compare side-by-side | SARS-CoV-2 | GenSpectrum'>
    <gs-app lapis='https://lapis.cov-spectrum.org/open/v2'>
        <div class='flex overflow-x-auto'>
            {
                routeData.filters.map(({ id, variantFilter, baselineFilter }) => (
                    <div class='min-w-[700px]  flex-1 border-r-2 px-2'>
                        <JointFilter
                            filterId={id}
                            initialLocation={baselineFilter}
                            initialNextcladePangoLineage={
                                'nextcladePangoLineage' in variantFilter
                                    ? variantFilter.nextcladePangoLineage
                                    : undefined
                            }
                        />
                        <div>
                            <h3 class='component-title'>Prevalence over time</h3>
                            <gs-prevalence-over-time
                                headline=''
                                numerator={JSON.stringify({
                                    displayName: '',
                                    lapisFilter: { ...variantFilter, ...baselineFilter },
                                })}
                                denominator={JSON.stringify(baselineFilter)}
                                granularity='week'
                                smoothingWindow='0'
                                width='100%'
                                height='400px'
                            />
                        </div>
                        <div>
                            <h3 class='component-title'>Relative growth advantage</h3>
                            <gs-relative-growth-advantage
                                headline=''
                                numerator={JSON.stringify({ ...variantFilter, ...baselineFilter })}
                                denominator={JSON.stringify(baselineFilter)}
                                generationTime='7'
                                width='100%'
                                height='400px'
                            />
                        </div>
                        <div>
                            <h3 class='component-title'>Nucleotide mutations</h3>
                            <gs-mutations
                                variant={JSON.stringify(variantFilter)}
                                headline=''
                                sequenceType='nucleotide'
                                views='["grid", "table", "insertions"]'
                                width='100%'
                                height='400px'
                            />
                        </div>
                        <div>
                            <h3 class='component-title'>Amino acid mutations</h3>
                            <gs-mutations
                                variant={JSON.stringify(variantFilter)}
                                headline=''
                                sequenceType='amino acid'
                                views='["grid", "table", "insertions"]'
                                width='100%'
                                height='400px'
                            />
                        </div>
                        <div>
                            <h3 class='component-title'>Sub-lineages</h3>
                            <gs-aggregate
                                fields='["nextcladePangoLineage"]'
                                filter={JSON.stringify(variantFilter)}
                                headline=''
                                width='100%'
                                height='400px'
                            />
                        </div>
                        <div>
                            <h2 class='component-title'>Hosts</h2>
                            <gs-aggregate
                                fields='["host"]'
                                filter={JSON.stringify(variantFilter)}
                                headline=''
                                width='100%'
                                height='400px'
                            />
                        </div>
                    </div>
                ))
            }
        </div>
    </gs-app>
</BaseLayout>
