---
import BaseLayout from '../layouts/base/BaseLayout.astro';
import { LocationTimeFilter } from '../components/LocationTimeFilter';
import { LapisFilter, parseUrl } from '../routes/routing';
import { CollectionsList } from '../components/CollectionsList';
import { VariantFilter } from '../components/VariantFilter';

const routeData = parseUrl(Astro.url);

const variantFilter = {
    ...routeData.variantFilter,
    ...routeData.baselineFilter,
};

let subDivisionField = undefined;
let subDivisionLabel = '';
if (routeData.baselineFilter.country === undefined) {
    subDivisionField = 'country';
    subDivisionLabel = 'Countries';
} else if (routeData.baselineFilter.division === undefined) {
    subDivisionField = 'division';
    subDivisionLabel = 'Geographic sub-divisions';
}
---

<style>
    .component-title {
        @apply font-bold;
    }
</style>

<BaseLayout title='GenSpectrum'>
    <gs-app lapis='https://lapis.cov-spectrum.org/open/v2'>
        <div class='grid-cols-[300px_1fr] gap-x-4 sm:grid'>
            <div>
                <div class='bg-blue-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Filter dataset:</div>
                    <LocationTimeFilter initialLocation={routeData.baselineFilter} client:load />
                </div>
                <div class='border-t-2 bg-green-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Search variant:</div>
                    <VariantFilter
                        initialNextcladePangoLineage={'nextcladePangoLineage' in routeData.variantFilter
                            ? routeData.variantFilter.nextcladePangoLineage
                            : undefined}
                        client:load
                    />
                    <div class='my-2 font-semibold'>Or select a known variant:</div>
                    <CollectionsList initialCollectionId={routeData.collectionId} client:idle />
                </div>
            </div>
            <div class='grid grid-cols-[repeat(auto-fit,minmax(min(100vw,650px),1fr))] gap-x-4 gap-y-6'>
                <div>
                    <h2 class='component-title'>Prevalence over time</h2>
                    <div class='h-[400px]'>
                        <gs-prevalence-over-time
                            headline=''
                            numerator={JSON.stringify({
                                displayName: '',
                                lapisFilter: variantFilter,
                            })}
                            denominator={JSON.stringify(routeData.baselineFilter)}
                            granularity='week'
                            smoothingWindow='0'
                            width='100%'
                            height='100%'></gs-prevalence-over-time>
                    </div>
                </div>
                <div>
                    <h2 class='component-title'>Relative growth advantage</h2>
                    <div class='h-[400px]'>
                        <gs-relative-growth-advantage
                            headline=''
                            numerator={JSON.stringify(variantFilter)}
                            denominator={JSON.stringify(routeData.baselineFilter)}
                            generationTime='7'
                            width='100%'
                            height='100%'></gs-relative-growth-advantage>
                    </div>
                </div>

                <div>
                    <h2 class='component-title'>Nucleotide mutations</h2>
                    <div class='h-[400px]'>
                        <gs-mutations
                            variant={JSON.stringify(variantFilter)}
                            headline=''
                            sequenceType='nucleotide'
                            views='["grid", "table", "insertions"]'
                            width='100%'
                            height='100%'></gs-mutations>
                    </div>
                </div>
                <div>
                    <h2 class='component-title'>Amino acid mutations</h2>
                    <div class='h-[400px]'>
                        <gs-mutations
                            variant={JSON.stringify(variantFilter)}
                            headline=''
                            sequenceType='amino acid'
                            views='["grid", "table", "insertions"]'
                            width='100%'
                            height='100%'></gs-mutations>
                    </div>
                </div>

                <div>
                    <h2 class='component-title'>Lineages</h2>
                    <div class='h-[400px]'>
                        <gs-aggregate
                            fields='["nextcladePangoLineage"]'
                            filter={JSON.stringify(variantFilter)}
                            headline=''
                            width='100%'
                            height='100%'></gs-aggregate>
                    </div>
                </div>
                {
                    subDivisionField && (
                        <div>
                            <h2 class='component-title'>{subDivisionLabel}</h2>
                            <div class='h-[400px]'>
                                <gs-aggregate
                                    fields={JSON.stringify([subDivisionField])}
                                    filter={JSON.stringify(variantFilter)}
                                    headline=''
                                    width='100%'
                                    height='100%'
                                />
                            </div>
                        </div>
                    )
                }

                <div>
                    <h2 class='component-title'>Hosts</h2>
                    <div class='h-[400px]'>
                        <gs-aggregate
                            fields='["host"]'
                            filter={JSON.stringify(variantFilter)}
                            headline=''
                            width='100%'
                            height='100%'></gs-aggregate>
                    </div>
                </div>
            </div>
        </div>
    </gs-app>
</BaseLayout>
