---
interface SubscriptionFilter {
    [key: string]: string;
}

interface Subscription {
    id: string;
    name: string;
    filter: SubscriptionFilter;
    interval: string;
    trigger: string;
    isActive: boolean;
    conditionsMet: boolean;
}

const subscriptions: Subscription[] = [
    {
        id: '1',
        name: 'My search',
        filter: {
            country: 'Germany',
            dateFrom: '2024-01-01',
            dateTo: '2024-01-05',
        },
        interval: 'weekly',
        trigger: 'Count: 10',
        isActive: true,
        conditionsMet: true,
    },
    {
        id: '2',
        name: 'My other search',
        filter: {
            country: 'Switzerland',
            dateFrom: '2024-01-01',
            dateTo: '2024-01-05',
        },
        interval: 'daily',
        trigger: 'Count: 20',
        isActive: true,
        conditionsMet: false,
    },
    {
        id: '3',
        name: 'My third search',
        filter: {
            country: 'Germany',
            dateFrom: '2024-01-01',
            dateTo: '2024-01-05',
        },
        interval: 'weekly',
        trigger: 'Count: 13',
        isActive: true,
        conditionsMet: true,
    },
];
---

<div class='w-full divide-y-2 overflow-x-auto rounded border-2'>
    <div class='backgound flex w-full place-content-between items-center bg-gray-200'>
        <div class='flex h-12 items-center'>
            <div class='ml-2'>Subscriptions</div>
            <label>
                <input class='input input-sm ml-8' placeholder='Search' />
            </label>
        </div>

        <div class='flex-end'>
            <a class='btn btn-primary btn-sm' href='/subscriptions/create'>Add</a>
            <button class='btn btn-primary btn-sm'>Delete (2)</button>
        </div>
    </div>

    <table class='table table-pin-cols w-full table-auto'>
        <thead>
            <tr>
                <td>
                    <label>
                        <input type='checkbox' class='checkbox' />
                    </label>
                </td>
                <th>Status</th>
                <th>Name</th>
                <th>Filter</th>
                <th>Interval</th>
                <th>Trigger</th>
                <th>Is active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {
                subscriptions.map((subscription) => (
                    <tr>
                        <td>
                            <label>
                                <input type='checkbox' class='checkbox' />
                            </label>
                        </td>
                        <td>
                            <div
                                class='tooltip'
                                data-tip={
                                    subscription.conditionsMet ? 'Trigger criteria met' : 'Trigger criteria not met'
                                }
                            >
                                <span
                                    class='iconify text-2xl mdi--circle-slice-8'
                                    style={`color: ${subscription.conditionsMet ? '#21ff00' : '#ff0000'};`}
                                />
                            </div>
                        </td>
                        <td>{subscription.name}</td>
                        <td>
                            <p>Country: {subscription.filter.country}</p>
                            <p>DateFrom: {subscription.filter.dateFrom}</p>
                            <p>DateTo: {subscription.filter.dateTo}</p>
                        </td>
                        <td>{subscription.interval}</td>
                        <td>{subscription.trigger}</td>
                        <td>{subscription.isActive.toString()}</td>
                        <td>
                            <button class='btn btn-ghost btn-xs'>Edit</button>
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
