---
import { Brand } from './Brand';
import CallToAction from './CallToAction.astro';
import HamburgerMenu from './HamburgerMenu.astro';
import { Navigation } from './Navigation';
import { headerHeight } from './headerConstants';

interface Props {
    forceLoggedOutState?: boolean;
}
const { forceLoggedOutState = false } = Astro.props;

const zIndexHigherThanLeafletButtons = 'z-[1100]';
const commonHeaderCss = `${headerHeight} gap-4 items-center justify-between`;
---

<header class={`sticky top-0 ${zIndexHigherThanLeafletButtons} border-b bg-white`}>
    <div class={`${commonHeaderCss} hidden sm:flex `}>
        <Brand />
        <Navigation />
        <CallToAction forceLoggedOutState={forceLoggedOutState} />
    </div>

    <div class={`${commonHeaderCss} flex sm:hidden`}>
        <Brand />
        <HamburgerMenu forceLoggedOutState={forceLoggedOutState} />
    </div>
</header>
