---
import type { ComponentProps } from 'astro/types';

import AccessionsDownloadButton from './AccessionsDownloadButton.astro';
import { getLapisUrl } from '../../config';
import { getLastUpdatedDate } from '../../lapis/getLastUpdatedDate';
import type { OrganismConstants } from '../../views/OrganismConstants';
import { type View } from '../../views/View';
import type { PageStateHandler } from '../../views/pageStateHandlers/PageStateHandler';
import { Breadcrumbs } from '../Breadcrumbs';
import BaseLayout from '../base/BaseLayout.astro';
import DataInfo from '../base/footer/DataInfo.astro';

interface Props {
    view: View<object, OrganismConstants, PageStateHandler<object>>;
    downloadLinks: ComponentProps<typeof AccessionsDownloadButton>['downloadLinks'];
}

const { view, downloadLinks } = Astro.props;

const lastUpdatedDate = await getLastUpdatedDate(getLapisUrl(view.organismConstants.organism));
---

<BaseLayout title={view.viewTitle}>
    <div class='ml-2'>
        <Breadcrumbs breadcrumbs={view.viewBreadcrumbEntries} />
    </div>
    <slot />
    <div class='flex flex-col justify-center sm:flex-row sm:gap-4' slot='secondary-footer'>
        {downloadLinks.length > 0 && <AccessionsDownloadButton view={view} downloadLinks={downloadLinks} />}
        <span class='flex justify-center p-2 text-xs'>Data last updated: {lastUpdatedDate ?? 'unknown'}</span>
        <DataInfo dataOrigins={view.organismConstants.dataOrigins} />
    </div>
</BaseLayout>
