---
import { chooseGranularityBasedOnDateRange, getLocationSubdivision } from '../../../routes/helpers';
import BaseLayout from '../../../layouts/base/BaseLayout.astro';
import LocationTimeFilter from '../../../components/LocationTimeFilter.astro';
import { getLapisUrl } from '../../../config';
import { defaultTablePageSize } from '../../../routes/View';
import ComponentsGrid from '../../../components/ComponentsGrid.astro';
import { ServerSide } from '../../../routes/serverSideRouting';
import { Organisms } from '../../../types/Organism';

const routeData = ServerSide.h5n1SequencingEffortsView.parseUrl(Astro.url);

const baselineFilter = ServerSide.h5n1SequencingEffortsView.toLapisFilter(routeData);

const timeGranularity = chooseGranularityBasedOnDateRange({
    from: baselineFilter[`${ServerSide.h5n1SequencingEffortsView.mainDateField}From`] as string,
    to: baselineFilter[`${ServerSide.h5n1SequencingEffortsView.mainDateField}To`] as string,
});
const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    ServerSide.h5n1AnalyzeSingleVariantView.locationFields,
    routeData.baselineFilter.location,
);
---

<BaseLayout title='Sequencing Efforts | H5N1 | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.h5n1)}>
        <div class='mb-4 flex items-center justify-center bg-blue-50 px-2 py-1'>
            <div class='mr-2 font-semibold'>Filter dataset:</div>
            <div class='max-w-[1000px]'>
                <LocationTimeFilter
                    fields={ServerSide.h5n1SequencingEffortsView.locationFields}
                    initialLocation={baselineFilter}
                    initialDateRange={routeData.baselineFilter.dateRange}
                    earliestDate={ServerSide.h5n1SequencingEffortsView.earliestDate}
                    customDateRangeOptions={ServerSide.h5n1SequencingEffortsView.customDateRangeOptions}
                />
            </div>
        </div>

        <ComponentsGrid>
            <ComponentsGrid title='Number sequences' height='600px'>
                <gs-number-sequences-over-time
                    lapisFilter={JSON.stringify({
                        displayName: '',
                        lapisFilter: baselineFilter,
                    })}
                    lapisDateField={ServerSide.h5n1SequencingEffortsView.mainDateField}
                    views='["bar", "line", "table"]'
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'
                    granularity={timeGranularity}></gs-number-sequences-over-time>
            </ComponentsGrid>
            {
                subdivisionField && (
                    <ComponentsGrid title={subdivisionLabel} height='600px'>
                        <gs-aggregate
                            fields={JSON.stringify([subdivisionField])}
                            filter={JSON.stringify(baselineFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentsGrid>
                )
            }
            <ComponentsGrid title='Hosts' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([ServerSide.h5n1AnalyzeSingleVariantView.hostField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentsGrid>
            <ComponentsGrid title='Author affiliations' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([ServerSide.h5n1AnalyzeSingleVariantView.authorAffiliationsField])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentsGrid>
            <ComponentsGrid title='Authors' height='600px'>
                <gs-aggregate
                    fields={JSON.stringify([
                        ServerSide.h5n1AnalyzeSingleVariantView.authorsField,
                        ServerSide.h5n1AnalyzeSingleVariantView.authorAffiliationsField,
                    ])}
                    filter={JSON.stringify(baselineFilter)}
                    pageSize={defaultTablePageSize}
                    width='100%'
                    height='100%'></gs-aggregate>
            </ComponentsGrid>
        </ComponentsGrid>
    </gs-app>
</BaseLayout>
