---
import BaseLayout from '../../../layouts/base/BaseLayout.astro';
import LocationTimeFilter from '../../../components/LocationTimeFilter.astro';
import VariantFilter from '../../../components/VariantFilter.astro';
import { chooseGranularityBasedOnDateRange, getLapisMutations, getLocationSubdivision } from '../../../routes/helpers';
import { getLapisUrl } from '../../../config';
import { defaultTablePageSize } from '../../../routes/View';
import ComponentsGrid from '../../../components/ComponentsGrid.astro';
import ComponentWrapper from '../../../components/ComponentWrapper.astro';
import { ServerSide } from '../../../routes/serverSideRouting';
import { Organisms } from '../../../types/Organism';

const routeData = ServerSide.h5n1AnalyzeSingleVariantView.parseUrl(Astro.url);

const variantFilter = ServerSide.h5n1AnalyzeSingleVariantView.toLapisFilter(routeData);
const baselineFilter = ServerSide.h5n1AnalyzeSingleVariantView.toLapisFilterWithoutVariant(routeData);
const timeGranularity = chooseGranularityBasedOnDateRange({
    from: baselineFilter[`${ServerSide.h5n1AnalyzeSingleVariantView.mainDateField}From`] as string,
    to: baselineFilter[`${ServerSide.h5n1AnalyzeSingleVariantView.mainDateField}To`] as string,
});

const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    ServerSide.h5n1AnalyzeSingleVariantView.locationFields,
    routeData.baselineFilter.location,
);

const initialMutations = getLapisMutations(variantFilter);
---

<BaseLayout title='Single Variant | H5N1 | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.h5n1)}>
        <div class='grid-cols-[300px_1fr] gap-x-4 sm:grid'>
            <div>
                <div class='bg-blue-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Filter dataset:</div>
                    <LocationTimeFilter
                        fields={ServerSide.h5n1AnalyzeSingleVariantView.locationFields}
                        initialLocation={baselineFilter}
                        initialDateRange={routeData.baselineFilter.dateRange}
                        earliestDate={ServerSide.h5n1AnalyzeSingleVariantView.earliestDate}
                        customDateRangeOptions={ServerSide.h5n1AnalyzeSingleVariantView.customDateRangeOptions}
                    />
                </div>
                <div class='border-t-2 bg-green-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Search variant:</div>
                    <VariantFilter fields={[]} initialMutations={initialMutations} />
                </div>
            </div>
            <div>
                <ComponentsGrid>
                    <ComponentWrapper title='Prevalence over time'>
                        <gs-prevalence-over-time
                            numeratorFilter={JSON.stringify({
                                displayName: '',
                                lapisFilter: variantFilter,
                            })}
                            denominatorFilter={JSON.stringify(baselineFilter)}
                            lapisDateField={ServerSide.h5n1AnalyzeSingleVariantView.mainDateField}
                            granularity={timeGranularity}
                            smoothingWindow='0'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-prevalence-over-time>
                    </ComponentWrapper>
                    <ComponentWrapper title='Nucleotide mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='nucleotide'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>
                    <ComponentWrapper title='Amino acid mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='amino acid'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>
                    {
                        subdivisionField && (
                            <ComponentWrapper title={subdivisionLabel}>
                                <gs-aggregate
                                    fields={JSON.stringify([subdivisionField])}
                                    filter={JSON.stringify(variantFilter)}
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                        )
                    }

                    <ComponentWrapper title='Hosts'>
                        <gs-aggregate
                            fields={JSON.stringify([ServerSide.h5n1AnalyzeSingleVariantView.hostField])}
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-aggregate>
                    </ComponentWrapper>
                </ComponentsGrid>
                <ComponentWrapper title='Nucleotide mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='nucleotide'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={ServerSide.h5n1AnalyzeSingleVariantView.mainDateField}></gs-mutations-over-time>
                </ComponentWrapper>

                <ComponentWrapper title='Amino acid mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='amino acid'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={ServerSide.h5n1AnalyzeSingleVariantView.mainDateField}></gs-mutations-over-time>
                </ComponentWrapper>
            </div>
        </div>
    </gs-app>
</BaseLayout>
