---
import ComponentWrapper from '../../../components/ComponentWrapper.astro';
import ComponentsGrid from '../../../components/ComponentsGrid.astro';
import LocationTimeFilter from '../../../components/LocationTimeFilter.astro';
import VariantFilter from '../../../components/VariantFilter.astro';
import { getLapisUrl } from '../../../config';
import BaseLayout from '../../../layouts/base/BaseLayout.astro';
import { defaultTablePageSize } from '../../../routes/View';
import { chooseGranularityBasedOnDateRange, getLapisMutations, getLocationSubdivision } from '../../../routes/helpers';
import type { OrganismViewKey } from '../../../routes/routing';
import { ServerSide } from '../../../routes/serverSideRouting';
import { Organisms } from '../../../types/Organism';

const organismViewKey: OrganismViewKey = 'h5n1.singleVariantView';
const view = ServerSide.routing.getOrganismView(organismViewKey);
const pageState = view.parsePageStateFromUrl(Astro.url);

const variantFilter = view.toLapisFilter(pageState);
const baselineFilter = view.toLapisFilterWithoutVariant(pageState);
const timeGranularity = chooseGranularityBasedOnDateRange(
    pageState.baselineFilter.dateRange,
    new Date(view.earliestDate),
);

const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    view.locationFields,
    pageState.baselineFilter.location,
);

const initialMutations = getLapisMutations(pageState.variantFilter);
---

<BaseLayout title='Single Variant | H5N1 | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.h5n1)}>
        <div class='grid-cols-[300px_1fr] gap-x-4 sm:grid'>
            <div>
                <div class='bg-blue-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Filter dataset:</div>
                    <LocationTimeFilter
                        fields={view.locationFields}
                        initialLocation={pageState.baselineFilter.location}
                        initialDateRange={pageState.baselineFilter.dateRange}
                        earliestDate={view.earliestDate}
                        customDateRangeOptions={view.customDateRangeOptions}
                        organismViewKey={organismViewKey}
                    />
                </div>
                <div class='border-t-2 bg-green-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Search variant:</div>
                    <VariantFilter fields={[]} initialMutations={initialMutations} organismViewKey={organismViewKey} />
                </div>
            </div>
            <div>
                <ComponentsGrid>
                    <ComponentWrapper title='Prevalence over time'>
                        <gs-prevalence-over-time
                            numeratorFilter={JSON.stringify({
                                displayName: '',
                                lapisFilter: variantFilter,
                            })}
                            denominatorFilter={JSON.stringify(baselineFilter)}
                            lapisDateField={view.mainDateField}
                            granularity={timeGranularity}
                            smoothingWindow='0'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-prevalence-over-time>
                    </ComponentWrapper>
                    <ComponentWrapper title='Nucleotide mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='nucleotide'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>
                    <ComponentWrapper title='Amino acid mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='amino acid'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>
                    {
                        subdivisionField !== undefined && (
                            <ComponentWrapper title={subdivisionLabel}>
                                <gs-aggregate
                                    fields={JSON.stringify([subdivisionField])}
                                    filter={JSON.stringify(variantFilter)}
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                        )
                    }

                    <ComponentWrapper title='Hosts'>
                        <gs-aggregate
                            fields={JSON.stringify([view.hostField])}
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-aggregate>
                    </ComponentWrapper>
                </ComponentsGrid>
                <ComponentWrapper title='Nucleotide mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='nucleotide'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={view.mainDateField}></gs-mutations-over-time>
                </ComponentWrapper>

                <ComponentWrapper title='Amino acid mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='amino acid'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={view.mainDateField}></gs-mutations-over-time>
                </ComponentWrapper>
            </div>
        </div>
    </gs-app>
</BaseLayout>
