---
import ComponentHeadline from './ComponentHeadline.astro';
import { fragmentLinkScrollMargin } from '../layouts/base/header/headerConstants';
interface Props {
    title: string;
    height?: string;
    linkSuffix?: string;
}

const { title, height, linkSuffix } = Astro.props;

const fragmentId = title.toLowerCase().replace(/ /g, '-') + (linkSuffix ? `-${linkSuffix}` : '');
---

<div>
    <h2 class={`font-bold ${fragmentLinkScrollMargin} `} id={fragmentId}>
        <ComponentHeadline title={title} linkSuffix={linkSuffix} />
    </h2>
    <div style={{ height }}>
        <slot />
    </div>
</div>
