---
import ComponentHeadline from './ComponentHeadline.astro';
interface Props {
    title: string;
    height?: string;
    collapsible?: boolean;
    linkSuffix?: string;
}

const { title, height, linkSuffix, collapsible} = Astro.props;
---

{
    collapsible ? (
        <details>
            <summary class='cursor-pointer font-bold'>
                <ComponentHeadline title={title} linkSuffix={linkSuffix} collapsible={collapsible} />
            </summary>
            <div style={{ height }}>
                <slot />
            </div>
        </details>
    ) : (
    <ComponentHeadline title={title} linkSuffix={linkSuffix} collapsible={collapsible} />
    <div style={{ height }}>
        <slot />
    </div>
    )
}
