---
import { getDashboardsConfig } from '../config';
import { isCustomDateRange, type DateRange, type LapisLocation } from '../routes/helpers';
import type { OrganismViewKey } from '../routes/routing';

interface Props {
    fields: string[];
    initialLocation: LapisLocation;
    initialDateRange: DateRange;
    earliestDate: string;
    customDateRangeOptions: {
        label: string;
        dateFrom: string;
        dateTo: string;
    }[];
    organismViewKey: OrganismViewKey;
}

const { fields, initialLocation, initialDateRange, earliestDate, customDateRangeOptions, organismViewKey } =
    Astro.props;

const initialLocationValue = fields
    .map((field) => initialLocation[field])
    .filter(Boolean)
    .join(' / ');
const initialDateRangeValue = isCustomDateRange(initialDateRange) ? 'custom' : initialDateRange;
const initialDateRangeFrom = isCustomDateRange(initialDateRange) ? initialDateRange.from : undefined;
const initialDateRangeTo = isCustomDateRange(initialDateRange) ? initialDateRange.to : undefined;
---

<location-time-filter
    data-message={JSON.stringify({ location: initialLocation, dateRange: initialDateRange })}
    data-organisms-config={JSON.stringify(getDashboardsConfig().dashboards.organisms)}
    data-organism-view-key={organismViewKey}
>
    <div class='flex flex-wrap items-stretch gap-2'>
        <gs-location-filter
            id='locationFilter'
            fields={JSON.stringify(fields)}
            initialValue={initialLocationValue}
            placeholderText='Sampling location'
            width='280px'></gs-location-filter>
        <gs-date-range-selector
            id='dateRangeSelector'
            customSelectOptions={JSON.stringify(customDateRangeOptions)}
            earliestDate={earliestDate}
            initialValue={initialDateRangeValue}
            initialDateFrom={initialDateRangeFrom}
            initialDateTo={initialDateRangeTo}
            dateColumn='date'></gs-date-range-selector>
        <button
            id='locationTimeFilterSubmitButton'
            class='flex-1 rounded-lg border bg-white p-4 hover:bg-amber-200'
            type='submit'
        >
            Submit
        </button>
    </div>
</location-time-filter>

<script>
    import { getClientLogger } from '../clientLogger';
    import { type BaselineData } from '../routes/View';
    import { Routing, type OrganismViewKey } from '../routes/routing.ts';

    class LocationTimeFilter extends HTMLElement {
        constructor() {
            super();
            let { location, dateRange } = JSON.parse(this.dataset.message!);
            const config = JSON.parse(this.dataset.organismsConfig!);
            const organismViewKey = this.dataset.organismViewKey! as OrganismViewKey;

            const locationFilter = document.getElementById('locationFilter');
            const dateRangeSelector = document.getElementById('dateRangeSelector');
            const submitButton = document.getElementById('locationTimeFilterSubmitButton');

            locationFilter?.addEventListener('gs-location-changed', (event: CustomEvent) => {
                location = event.detail;
            });

            dateRangeSelector?.addEventListener('gs-date-range-changed', (event: CustomEvent) => {
                dateRange = {
                    from: event.detail.dateFrom,
                    to: event.detail.dateTo,
                };
            });

            submitButton?.addEventListener('click', () => {
                const routing = new Routing(config, getClientLogger);
                const currentView = routing.getOrganismView(organismViewKey);
                const currentRoute = currentView.parsePageDataFromUrl(new URL(window.location.href));

                // TODO This component currently assumes that it is used under a route that has a baseline filter.
                //  We should either make it more flexible or document the behavior
                const newRoute = {
                    ...currentRoute,
                    baselineFilter: {
                        ...(currentRoute as unknown as BaselineData).baselineFilter,
                        location,
                        dateRange,
                    },
                };
                window.location.href = currentView.toUrl(newRoute);
            });
        }
    }

    customElements.define('location-time-filter', LocationTimeFilter);
</script>
