---
import MainMenuItem from './MainMenuItem.astro';
import type { PathogenMegaMenuSection } from '../layouts/base/header/getPathogenMegaMenuSections';
interface Props {
    sections: PathogenMegaMenuSection[];
}

const { sections } = Astro.props;
---

<div class='items mx-auto mb-8 flex max-w-[1200px] flex-wrap justify-center gap-x-4 gap-y-8'>
    {
        sections.map((section) => (
            <div class='group w-[260px]'>
                <div class={`${section.borderEntryDecoration} rounded-md border-2 border-gray-100`}>
                    <h3
                        class={`rounded-t-md ${section.headlineBackgroundColor} ${section.headlineBackgroundColorFocus}`}
                    >
                        <a class='block p-4 text-xl' href={section.href}>
                            {section.headline}
                        </a>
                    </h3>
                    <ul class='mx-6 mb-4'>
                        {section.navigationEntries.map((entry) => (
                            <MainMenuItem
                                iconType={entry.iconType}
                                menuListEntryDecoration={entry.underlineColor}
                                href={entry.href}
                                external={entry.externalLink}
                            >
                                {entry.label}
                            </MainMenuItem>
                        ))}
                    </ul>
                </div>
            </div>
        ))
    }
</div>
---
