---
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import { CovidView1, CovidView2 } from '../../routes/covid';
import JointFilter from '../../components/covidView2/JointFilter.astro';
import { chooseGranularityBasedOnDateRange, extractMutations } from '../../routes/helpers';
import { Routing } from '../../routes/routing';
import { getLapisUrl } from '../../config';
import { Organisms } from '../../routes/View';

const routeData = CovidView2.view.parseUrl(Astro.url);
---

<style>
    .component-title {
        @apply mt-4 font-bold;
    }
</style>

<BaseLayout title='Compare side-by-side | SARS-CoV-2 | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.covid)}>
        <div class='flex overflow-x-auto'>
            {
                routeData.filters.map(({ id, variantFilter, baselineFilter }) => {
                    const baselineLapisFilter = CovidView2.baselineFilterToLapisFilter(baselineFilter);
                    const timeGranularity = chooseGranularityBasedOnDateRange({
                        from: baselineLapisFilter.dateFrom,
                        to: baselineLapisFilter.dateTo,
                    });
                    const initialMutations = extractMutations(variantFilter);

                    return (
                        <div class='min-w-[700px] flex-1 border-r-2 px-2'>
                            {routeData.filters.length > 1 && (
                                <a
                                    class='block w-full px-2 py-1 hover:bg-neutral-100'
                                    href={Routing.toUrl(CovidView2.removeFilter(routeData, id))}
                                >
                                    Remove column
                                </a>
                            )}
                            <JointFilter
                                filterId={id}
                                initialLocation={baselineFilter.location}
                                initialDateRange={baselineFilter.dateRange}
                                initialNextcladePangoLineage={
                                    'nextcladePangoLineage' in variantFilter
                                        ? variantFilter.nextcladePangoLineage
                                        : undefined
                                }
                                initialMutations={initialMutations}
                            />
                            <div>
                                <h3 class='component-title'>Prevalence over time</h3>
                                <div class='h-[400px]'>
                                    {!CovidView1.isEmptyVariantFilter(variantFilter) ? (
                                        <gs-prevalence-over-time
                                            numeratorFilter={JSON.stringify({
                                                displayName: '',
                                                lapisFilter: { ...variantFilter, ...baselineLapisFilter },
                                            })}
                                            denominatorFilter={JSON.stringify(baselineLapisFilter)}
                                            granularity={timeGranularity}
                                            smoothingWindow='0'
                                            width='100%'
                                            height='100%'
                                        />
                                    ) : (
                                        <div>This plot is only available if you search for a variant.</div>
                                    )}
                                </div>
                            </div>
                            <div>
                                <h3 class='component-title'>Relative growth advantage</h3>
                                <div class='h-[400px]'>
                                    {!CovidView1.isEmptyVariantFilter(variantFilter) ? (
                                        <gs-relative-growth-advantage
                                            numeratorFilter={JSON.stringify({
                                                ...variantFilter,
                                                ...baselineLapisFilter,
                                            })}
                                            denominatorFilter={JSON.stringify(baselineLapisFilter)}
                                            generationTime='7'
                                            width='100%'
                                            height='100%'
                                        />
                                    ) : (
                                        <div>This plot is only available if you search for a variant.</div>
                                    )}
                                </div>
                            </div>
                            <div>
                                <h3 class='component-title'>Nucleotide mutations</h3>
                                <gs-mutations
                                    lapisFilter={JSON.stringify(variantFilter)}
                                    sequenceType='nucleotide'
                                    views='["grid", "table", "insertions"]'
                                    width='100%'
                                    height='400px'
                                />
                            </div>
                            <div>
                                <h3 class='component-title'>Amino acid mutations</h3>
                                <gs-mutations
                                    lapisFilter={JSON.stringify(variantFilter)}
                                    sequenceType='amino acid'
                                    views='["grid", "table", "insertions"]'
                                    width='100%'
                                    height='400px'
                                />
                            </div>
                            <div>
                                <h3 class='component-title'>Sub-lineages</h3>
                                <gs-aggregate
                                    fields='["nextcladePangoLineage"]'
                                    filter={JSON.stringify(variantFilter)}
                                    width='100%'
                                    height='400px'
                                />
                            </div>
                            <div>
                                <h2 class='component-title'>Hosts</h2>
                                <gs-aggregate
                                    fields='["host"]'
                                    filter={JSON.stringify(variantFilter)}
                                    width='100%'
                                    height='400px'
                                />
                            </div>
                        </div>
                    );
                })
            }
            <a
                class='px-4 pt-8 text-left hover:bg-neutral-100'
                href={Routing.toUrl(CovidView2.addEmptyFilter(routeData))}
                style='writing-mode: vertical-rl;'
            >
                Add column
            </a>
        </div>
    </gs-app>
</BaseLayout>
