---
import ComponentWrapper from '../../components/ComponentWrapper.astro';
import JointFilter from '../../components/covidCompareVariantsView/JointFilter.astro';
import { getLapisUrl } from '../../config';
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import { defaultTablePageSize } from '../../routes/View';
import { chooseGranularityBasedOnDateRange, getLapisMutations } from '../../routes/helpers';
import { ServerSide } from '../../routes/serverSideRouting';
import { Organisms } from '../../types/Organism';

const routeData = ServerSide.covidCompareVariantsView.parseUrl(Astro.url);
if (routeData === undefined) {
    throw Error('Failed to parse URL for side-by-side comparison page');
}
---

<BaseLayout title='Compare side-by-side | SARS-CoV-2 | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.covid)}>
        <div class='flex overflow-x-auto'>
            {
                Array.from(routeData.filters).map(([id, { variantFilter, baselineFilter }]) => {
                    const baselineLapisFilter =
                        ServerSide.covidCompareVariantsView.baselineFilterToLapisFilter(baselineFilter);
                    const timeGranularity = chooseGranularityBasedOnDateRange({
                        from: baselineLapisFilter[`${ServerSide.covidCompareVariantsView.mainDateField}From`] as string,
                        to: baselineLapisFilter[`${ServerSide.covidCompareVariantsView.mainDateField}To`] as string,
                    });
                    const initialMutations = getLapisMutations(variantFilter);
                    const numeratorFilter = {
                        ...ServerSide.covidCompareVariantsView.variantFilterToLapisFilter(variantFilter),
                        ...baselineLapisFilter,
                    };

                    return (
                        <div class='min-w-[700px] flex-1 border-r-2 px-2'>
                            {routeData.filters.size > 1 && (
                                <a
                                    class='block w-full px-2 py-1 hover:bg-neutral-100'
                                    href={ServerSide.covidCompareVariantsView.toUrl(
                                        ServerSide.covidCompareVariantsView.removeFilter(routeData, id),
                                    )}
                                >
                                    Remove column
                                </a>
                            )}
                            <JointFilter
                                filterId={id}
                                initialLocation={baselineFilter.location}
                                initialDateRange={baselineFilter.dateRange}
                                initialLineage={variantFilter.lineage ?? undefined}
                                initialMutations={initialMutations}
                            />
                            <ComponentWrapper title='Prevalence over time'>
                                <gs-prevalence-over-time
                                    numeratorFilter={JSON.stringify({
                                        displayName: '',
                                        lapisFilter: numeratorFilter,
                                    })}
                                    denominatorFilter={JSON.stringify(baselineLapisFilter)}
                                    granularity={timeGranularity}
                                    smoothingWindow='0'
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                            <ComponentWrapper title='Relative growth advantage'>
                                <gs-relative-growth-advantage
                                    numeratorFilter={JSON.stringify(numeratorFilter)}
                                    denominatorFilter={JSON.stringify(baselineLapisFilter)}
                                    generationTime='7'
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                            <ComponentWrapper title='Nucleotide mutations'>
                                <gs-mutations
                                    lapisFilter={JSON.stringify(numeratorFilter)}
                                    sequenceType='nucleotide'
                                    views='["grid", "table", "insertions"]'
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                            <ComponentWrapper title='Amino acid mutations'>
                                <gs-mutations
                                    lapisFilter={JSON.stringify(numeratorFilter)}
                                    sequenceType='amino acid'
                                    views='["grid", "table", "insertions"]'
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                            <ComponentWrapper title='Sub-lineages'>
                                <gs-aggregate
                                    fields={JSON.stringify([ServerSide.covidCompareVariantsView.lineageField])}
                                    filter={JSON.stringify(numeratorFilter)}
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                            <ComponentWrapper title='Hosts'>
                                <gs-aggregate
                                    fields={JSON.stringify([ServerSide.covidSequencingEffortsView.hostField])}
                                    filter={JSON.stringify(numeratorFilter)}
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                        </div>
                    );
                })
            }
            <a
                class='px-4 pt-8 text-left hover:bg-neutral-100'
                href={ServerSide.covidCompareVariantsView.toUrl(
                    ServerSide.covidCompareVariantsView.addEmptyFilter(routeData),
                )}
                style='writing-mode: vertical-rl;'
            >
                Add column
            </a>
        </div>
    </gs-app>
</BaseLayout>
