---
import BaseLayout from '../../layouts/base/BaseLayout.astro';
import { CollectionsList } from '../../components/covidView1/CollectionsList';
import { CovidView1 } from '../../routes/covid';
import { chooseGranularityBasedOnDateRange, extractMutations } from '../../routes/helpers';
import LocationTimeFilter from '../../components/LocationTimeFilter.astro';
import VariantFilter from '../../components/VariantFilter.astro';
import { getLapisUrl } from '../../config';
import { defaultTablePageSize, Organisms } from '../../routes/View';
import ComponentsGrid from '../../components/ComponentsGrid.astro';
import ComponentWrapper from '../../components/ComponentWrapper.astro';

const routeData = CovidView1.view.parseUrl(Astro.url);

const variantFilter = CovidView1.toLapisFilter(routeData);
const baselineFilter = CovidView1.toLapisFilterWithoutVariant(routeData);
const timeGranularity = chooseGranularityBasedOnDateRange({ from: baselineFilter.dateFrom, to: baselineFilter.dateTo });

let subDivisionField = undefined;
let subDivisionLabel = '';
if (routeData.baselineFilter.location.country === undefined) {
    subDivisionField = 'country';
    subDivisionLabel = 'Countries';
} else if (routeData.baselineFilter.location.division === undefined) {
    subDivisionField = 'division';
    subDivisionLabel = 'Geographic sub-divisions';
}

const initialMutations = extractMutations(variantFilter);
---

<BaseLayout title='Single Variant | SARS-CoV-2 | GenSpectrum'>
    <gs-app lapis={getLapisUrl(Organisms.covid)}>
        <div class='grid-cols-[300px_1fr] gap-x-4 sm:grid'>
            <div>
                <div class='bg-blue-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Filter dataset:</div>
                    <LocationTimeFilter
                        fields={CovidView1.view.locationFields}
                        initialLocation={baselineFilter}
                        initialDateRange={routeData.baselineFilter.dateRange}
                        earliestDate={CovidView1.view.earliestDate}
                        customDateRangeOptions={CovidView1.view.customDateRangeOptions}
                    />
                </div>
                <div class='border-t-2 bg-green-50 px-2 py-4'>
                    <div class='mb-2 font-semibold'>Search variant:</div>
                    <VariantFilter
                        fields={[
                            {
                                name: 'nextcladePangoLineage',
                                label: 'Pango Lineage',
                                initialValue:
                                    'nextcladePangoLineage' in variantFilter
                                        ? variantFilter.nextcladePangoLineage
                                        : undefined,
                                type: 'pango-lineage',
                            },
                        ]}
                        initialMutations={initialMutations}
                    />
                    <div class='my-2 font-semibold'>Or select a known variant:</div>
                    <CollectionsList initialCollectionId={routeData.collectionId} client:idle />
                </div>
            </div>
            <div>
                <ComponentsGrid>
                    <ComponentWrapper title='Prevalence over time'>
                        <gs-prevalence-over-time
                            numeratorFilter={JSON.stringify({
                                displayName: '',
                                lapisFilter: variantFilter,
                            })}
                            denominatorFilter={JSON.stringify(baselineFilter)}
                            granularity={timeGranularity}
                            smoothingWindow='0'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-prevalence-over-time>
                    </ComponentWrapper>
                    <ComponentWrapper title='Relative growth advantage'>
                        <gs-relative-growth-advantage
                            numeratorFilter={JSON.stringify(variantFilter)}
                            denominatorFilter={JSON.stringify(baselineFilter)}
                            generationTime='7'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-relative-growth-advantage>
                    </ComponentWrapper>

                    <ComponentWrapper title='Nucleotide mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='nucleotide'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>
                    <ComponentWrapper title='Amino acid mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='amino acid'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-mutations>
                    </ComponentWrapper>

                    <ComponentWrapper title='Sub-lineages'>
                        <gs-aggregate
                            fields='["nextcladePangoLineage"]'
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-aggregate>
                    </ComponentWrapper>
                    {
                        subDivisionField && (
                            <ComponentWrapper title={subDivisionLabel}>
                                <gs-aggregate
                                    fields={JSON.stringify([subDivisionField])}
                                    filter={JSON.stringify(variantFilter)}
                                    pageSize={defaultTablePageSize}
                                    width='100%'
                                    height='100%'
                                />
                            </ComponentWrapper>
                        )
                    }

                    <ComponentWrapper title='Hosts'>
                        <gs-aggregate
                            fields='["host"]'
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'></gs-aggregate>
                    </ComponentWrapper>
                </ComponentsGrid>

                <ComponentWrapper title='Nucleotide mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='nucleotide'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField='date'></gs-mutations-over-time>
                </ComponentWrapper>

                <ComponentWrapper title='Amino acid mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='amino acid'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField='date'></gs-mutations-over-time>
                </ComponentWrapper>
            </div>
        </div>
    </gs-app>
</BaseLayout>
