---
import ComponentsGrid from '../../components/ComponentsGrid.astro';
import GsAggregate from '../../components/genspectrum/GsAggregate.astro';
import GsMutations from '../../components/genspectrum/GsMutations.astro';
import GsMutationsOverTime from '../../components/genspectrum/GsMutationsOverTime.astro';
import GsPrevalenceOverTime from '../../components/genspectrum/GsPrevalenceOverTime.astro';
import GsRelativeGrowthAdvantage from '../../components/genspectrum/GsRelativeGrowthAdvantage.astro';
import GsStatistics from '../../components/genspectrum/GsStatistics.astro';
import { AnalyzeSingleVariantSelectorFallback } from '../../components/pageStateSelectors/FallbackElement';
import { SingleVariantPageStateSelector } from '../../components/pageStateSelectors/SingleVariantPageStateSelector';
import { CollectionsList } from '../../components/views/analyzeSingleVariant/CollectionsList';
import SelectVariant from '../../components/views/analyzeSingleVariant/SelectVariant.astro';
import { sanitizeForFilename } from '../../components/views/compareSideBySide/toDownloadLink';
import { getDashboardsConfig } from '../../config';
import SingleVariantOrganismPageLayout from '../../layouts/OrganismPage/SingleVariantOrganismPageLayout.astro';
import { chooseGranularityBasedOnDateRange } from '../../util/chooseGranularityBasedOnDateRange';
import { hasOnlyUndefinedValues } from '../../util/hasOnlyUndefinedValues';
import { getLineageFilterConfigs, getLineageFilterFields } from '../../views/View';
import { getLocationSubdivision } from '../../views/locationHelpers';
import { toDisplayName } from '../../views/pageStateHandlers/PageStateHandler';
import { type OrganismViewKey } from '../../views/routing';
import { ServerSide } from '../../views/serverSideRouting';

const organismViewKey: OrganismViewKey = 'covid.singleVariantView';
const view = ServerSide.routing.getOrganismView(organismViewKey);
const pageState = view.pageStateHandler.parsePageStateFromUrl(Astro.url);

const variantFilter = view.pageStateHandler.toLapisFilter(pageState);
const datasetLapisFilter = view.pageStateHandler.toLapisFilterWithoutVariant(pageState);
const timeGranularity = chooseGranularityBasedOnDateRange(
    pageState.datasetFilter.dateRange,
    new Date(view.organismConstants.earliestDate),
);

const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    view.organismConstants.locationFields,
    pageState.datasetFilter.location,
);

const lineageFilterConfigs = getLineageFilterConfigs(
    view.organismConstants.lineageFilters,
    pageState.variantFilter.lineages,
);

const noVariantSelected = hasOnlyUndefinedValues(pageState.variantFilter);

const displayName = toDisplayName(pageState.variantFilter);
const downloadLinks = noVariantSelected
    ? []
    : [
          {
              label: `Download accessions of ${displayName}`,
              filter: variantFilter,
              downloadFileBasename: `${view.organismConstants.organism}_${sanitizeForFilename(displayName)}_accessions`,
          },
      ];
---

<SingleVariantOrganismPageLayout view={view} downloadLinks={downloadLinks}>
    <div slot='filters'>
        <SingleVariantPageStateSelector
            locationFilterConfig={{
                locationFields: view.organismConstants.locationFields,
                initialLocation: pageState.datasetFilter.location,
                placeholderText: 'Sampling location',
            }}
            dateRangeFilterConfig={{
                initialDateRange: pageState.datasetFilter.dateRange,
                dateRangeOptions: view.organismConstants.dateRangeOptions,
                earliestDate: view.organismConstants.earliestDate,
                dateColumn: view.organismConstants.mainDateField,
            }}
            variantFilterConfig={{
                mutationFilterConfig: pageState.variantFilter.mutations,
                lineageFilterConfigs,
            }}
            organismViewKey={organismViewKey}
            organismsConfig={getDashboardsConfig().dashboards.organisms}
            client:only='react'
        >
            <AnalyzeSingleVariantSelectorFallback slot='fallback' />
        </SingleVariantPageStateSelector>
        <div class='p-2'>
            <h2 class='my-2'>Or select a known variant:</h2>
            <CollectionsList
                initialCollectionId={pageState.collectionId}
                organismsConfig={getDashboardsConfig().dashboards.organisms}
                client:load
            />
        </div>
    </div>

    {
        noVariantSelected ? (
            <SelectVariant slot='dataDisplay' />
        ) : (
            <div class='mx-[8px] flex flex-col gap-y-6' slot='dataDisplay'>
                <GsStatistics numeratorFilter={variantFilter} denominatorFilter={datasetLapisFilter} />
                <ComponentsGrid>
                    <GsPrevalenceOverTime
                        numeratorFilters={[
                            {
                                displayName: '',
                                lapisFilter: variantFilter,
                            },
                        ]}
                        denominatorFilter={datasetLapisFilter}
                        lapisDateField={view.organismConstants.mainDateField}
                        granularity={timeGranularity}
                    />
                    <GsRelativeGrowthAdvantage
                        numeratorFilter={variantFilter}
                        denominatorFilter={datasetLapisFilter}
                        lapisDateField={view.organismConstants.mainDateField}
                    />
                    <GsMutations lapisFilter={variantFilter} sequenceType='nucleotide' />
                    <GsMutations lapisFilter={variantFilter} sequenceType='amino acid' />
                    <GsAggregate
                        title='Sub-lineages'
                        fields={getLineageFilterFields(view.organismConstants.lineageFilters)}
                        lapisFilter={variantFilter}
                    />
                    {subdivisionField !== undefined && (
                        <GsAggregate title={subdivisionLabel} fields={[subdivisionField]} lapisFilter={variantFilter} />
                    )}
                    <GsAggregate
                        title='Hosts'
                        fields={[view.organismConstants.hostField]}
                        lapisFilter={variantFilter}
                    />
                </ComponentsGrid>

                <GsMutationsOverTime
                    lapisFilter={variantFilter}
                    sequenceType='nucleotide'
                    granularity={timeGranularity}
                    lapisDateField={view.organismConstants.mainDateField}
                />

                <GsMutationsOverTime
                    lapisFilter={variantFilter}
                    sequenceType='amino acid'
                    granularity={timeGranularity}
                    lapisDateField={view.organismConstants.mainDateField}
                />
            </div>
        )
    }
</SingleVariantOrganismPageLayout>
