---
import ComponentHeadline from '../../components/ComponentHeadline.astro';
import ComponentWrapper from '../../components/ComponentWrapper.astro';
import ComponentsGrid from '../../components/ComponentsGrid.astro';
import { SingleVariantPageStateSelector } from '../../components/pageStateSelectors/SingleVariantPageStateSelector';
import { CollectionsList } from '../../components/views/analyzeSingleVariant/CollectionsList';
import SelectVariant from '../../components/views/analyzeSingleVariant/SelectVariant.astro';
import { getDashboardsConfig } from '../../config';
import SingleVariantOrganismPageLayout from '../../layouts/OrganismPage/SingleVariantOrganismPageLayout.astro';
import { chooseGranularityBasedOnDateRange } from '../../util/chooseGranularityBasedOnDateRange';
import { hasOnlyUndefinedValues } from '../../util/hasOnlyUndefinedValues';
import { defaultTablePageSize, getLineageFilterConfigs, getLineageFilterFields } from '../../views/View';
import { getLocationSubdivision } from '../../views/helpers';
import { type OrganismViewKey } from '../../views/routing';
import { ServerSide } from '../../views/serverSideRouting';

const organismViewKey: OrganismViewKey = 'covid.singleVariantView';
const view = ServerSide.routing.getOrganismView(organismViewKey);
const pageState = view.pageStateHandler.parsePageStateFromUrl(Astro.url);

const variantFilter = view.pageStateHandler.toLapisFilter(pageState);
const baselineFilter = view.pageStateHandler.toLapisFilterWithoutVariant(pageState);
const timeGranularity = chooseGranularityBasedOnDateRange(
    pageState.baselineFilter.dateRange,
    new Date(view.organismConstants.earliestDate),
);

const { label: subdivisionLabel, field: subdivisionField } = getLocationSubdivision(
    view.organismConstants.locationFields,
    pageState.baselineFilter.location,
);

const lineageFilterConfigs = getLineageFilterConfigs(
    view.organismConstants.lineageFilters,
    pageState.variantFilter.lineages,
);

const noVariantSelected = hasOnlyUndefinedValues(pageState.variantFilter);
---

<SingleVariantOrganismPageLayout view={view}>
    <div class='bg-gray-50' slot='filters'>
        <SingleVariantPageStateSelector
            locationFilterConfig={{
                locationFields: view.organismConstants.locationFields,
                initialLocation: pageState.baselineFilter.location,
                placeholderText: 'Sampling location',
            }}
            dateRangeFilterConfig={{
                initialDateRange: pageState.baselineFilter.dateRange,
                dateRangeOptions: view.organismConstants.dateRangeOptions,
                earliestDate: view.organismConstants.earliestDate,
                dateColumn: view.organismConstants.mainDateField,
            }}
            mutationFilterConfig={{ initialMutations: pageState.variantFilter.mutations }}
            lineageFilterConfigs={lineageFilterConfigs}
            organismViewKey={organismViewKey}
            organismsConfig={getDashboardsConfig().dashboards.organisms}
            client:only='react'
        />
        <div class='p-2'>
            <h2 class='my-2'>Or select a known variant:</h2>
            <CollectionsList
                initialCollectionId={pageState.collectionId}
                organismsConfig={getDashboardsConfig().dashboards.organisms}
                client:load
            />
        </div>
    </div>

    {
        noVariantSelected ? (
            <SelectVariant slot='dataDisplay' />
        ) : (
            <div class='mx-[8px] flex flex-col gap-y-6' slot='dataDisplay'>
                <div class='h-56 sm:h-32'>
                    <ComponentHeadline>Stats</ComponentHeadline>
                    <gs-statistics
                        numeratorFilter={JSON.stringify(variantFilter)}
                        denominatorFilter={JSON.stringify(baselineFilter)}
                        width='100%'
                        height='100%'
                    />
                </div>
                <ComponentsGrid>
                    <ComponentWrapper title='Prevalence over time'>
                        <gs-prevalence-over-time
                            numeratorFilter={JSON.stringify({
                                displayName: '',
                                lapisFilter: variantFilter,
                            })}
                            denominatorFilter={JSON.stringify(baselineFilter)}
                            lapisDateField={view.organismConstants.mainDateField}
                            granularity={timeGranularity}
                            smoothingWindow='0'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>
                    <ComponentWrapper title='Relative growth advantage'>
                        <gs-relative-growth-advantage
                            numeratorFilter={JSON.stringify(variantFilter)}
                            denominatorFilter={JSON.stringify(baselineFilter)}
                            generationTime='7'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>

                    <ComponentWrapper title='Nucleotide mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='nucleotide'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>
                    <ComponentWrapper title='Amino acid mutations'>
                        <gs-mutations
                            lapisFilter={JSON.stringify(variantFilter)}
                            sequenceType='amino acid'
                            views='["grid", "table", "insertions"]'
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>

                    <ComponentWrapper title='Sub-lineages'>
                        <gs-aggregate
                            fields={JSON.stringify(getLineageFilterFields(view.organismConstants.lineageFilters))}
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>
                    {subdivisionField !== undefined && (
                        <ComponentWrapper title={subdivisionLabel}>
                            <gs-aggregate
                                fields={JSON.stringify([subdivisionField])}
                                filter={JSON.stringify(variantFilter)}
                                pageSize={defaultTablePageSize}
                                width='100%'
                                height='100%'
                            />
                        </ComponentWrapper>
                    )}

                    <ComponentWrapper title='Hosts'>
                        <gs-aggregate
                            fields={JSON.stringify([view.organismConstants.hostField])}
                            filter={JSON.stringify(variantFilter)}
                            pageSize={defaultTablePageSize}
                            width='100%'
                            height='100%'
                        />
                    </ComponentWrapper>
                </ComponentsGrid>

                <ComponentWrapper title='Nucleotide mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='nucleotide'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={view.organismConstants.mainDateField}
                    />
                </ComponentWrapper>

                <ComponentWrapper title='Amino acid mutations over time' height='600px'>
                    <gs-mutations-over-time
                        width='100%'
                        height='100%'
                        lapisFilter={JSON.stringify(variantFilter)}
                        sequenceType='amino acid'
                        views='["grid"]'
                        granularity={timeGranularity}
                        lapisDateField={view.organismConstants.mainDateField}
                    />
                </ComponentWrapper>
            </div>
        )
    }
</SingleVariantOrganismPageLayout>
