---
import { GenericCompareVariantsDataDisplay } from './GenericCompareVariantsDataDisplay';
import { isStaging, getDashboardsConfig } from '../../../config';
import SingleVariantOrganismPageLayout from '../../../layouts/OrganismPage/SingleVariantOrganismPageLayout.astro';
import { type OrganismViewKey, type OrganismWithViewKey } from '../../../views/routing';
import { ServerSide } from '../../../views/serverSideRouting';
import { compareVariantsViewKey } from '../../../views/viewKeys';
import { CompareVariantsPageStateSelector } from '../../pageStateSelectors/CompareVariantsPageStateSelector';
import { CompareVariantsSelectorFallback } from '../../pageStateSelectors/FallbackElement';
import { sanitizeForFilename } from '../compareSideBySide/toDownloadLink';

type OrganismViewCompareVariant = OrganismWithViewKey<typeof compareVariantsViewKey>;
interface Props {
    organism: OrganismViewCompareVariant;
}

const { organism } = Astro.props;
const organismViewKey = `${organism}.${compareVariantsViewKey}` satisfies OrganismViewKey;
const view = ServerSide.routing.getOrganismView(organismViewKey);

const pageState = view.pageStateHandler.parsePageStateFromUrl(Astro.url);

const numeratorLapisFilters = view.pageStateHandler.variantFiltersToNamedLapisFilters(pageState);
const notEnoughVariantsSelected = pageState.variants.size < 2;
const downloadLinks = notEnoughVariantsSelected
    ? []
    : numeratorLapisFilters.map(({ lapisFilter, displayName }) => ({
          label: `Download accessions of "${displayName}"`,
          filter: lapisFilter,
          downloadFileBasename: `${organism}_${sanitizeForFilename(displayName)}_accessions`,
      }));

const organismConfig = getDashboardsConfig().dashboards.organisms;
---

<SingleVariantOrganismPageLayout view={view} downloadLinks={downloadLinks}>
    <CompareVariantsPageStateSelector
        slot='filters'
        organismViewKey={organismViewKey}
        organismsConfig={organismConfig}
        initialPageState={pageState}
        client:only='react'
        enableAdvancedQueryFilter={isStaging()}
    >
        <CompareVariantsSelectorFallback slot='fallback' numFilters={numeratorLapisFilters.length} />
    </CompareVariantsPageStateSelector>
    <div slot='dataDisplay'>
        <GenericCompareVariantsDataDisplay
            organismViewKey={organismViewKey}
            organismsConfig={organismConfig}
            pageState={pageState}
            client:load
        />
    </div>
</SingleVariantOrganismPageLayout>
